---
import MainLayout from "../layouts/MainLayout.astro";
import AccordianInfo from "../components/AccordianInfo.astro";
import AccordianCircles from "../components/AccordianCircles.astro";
import Button from "../components/Button.astro";
---

<MainLayout
  title="CP Danmark | CP & os"
  description="CP Danmarks 'CP & os'-side"
  ogtitle="CP Danmark – Landsforeningen for cerebral parese"
  ogdescription="Læs mere om hvem CP Danmark er og hvordan de arbejder"
>
  <section
    id="hero"
    class="hero-section grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom w-full h-screen md:px-0 px-4 relative"
  >
    <div class="absolute inset-0 md:mt-12 mt-0 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 gap-6 content-center md:pb-28 pb-0 h-full">
      <div class="breadcrumb col-span-12">
        <a
          href="/"
          aria-label="Gå tilbage til forsiden"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">Forside</a
        >
        <span> / </span>
        <a
          href="/cp_os"
          aria-label="Denne side er CP & os"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">CP & os</a
        >
      </div>

      <h1 id="hero-title" class="md:pb-6 pb-0 col-span-12 display">CP & os</h1>
      <h2 id="hero-text" class="font-regular italic md:col-span-6 col-span-12 text-h4-mobile text-gray-50 max-w-3xl">
        Bliv klogere på CP— og på menneskene og fællesskabet bag
      </h2>
    </div>

    <div class="hero_image w-full h-full absolute inset-0 z-0">
      <img
        src="/images/about_image.webp"
        alt="Hero-billede til CP Danmarks 'CP & os'-side'"
        class="w-full h-full object-cover brightness-[65%] md:brightness-75"
      />
    </div>

    <div id="overlay1" class="absolute top-0 left-0 w-full h-full bg-gray-950 bg-opacity-[50%] z-0"></div>
    <div
      id="overlay2"
      class="absolute top-0 left-0 md:w-[50%] w-full h-full md:backdrop-blur-sm bg-opacity-75 bg-blue-950 z-0 md:rounded-r-full hidden md:block"
    >
    </div>

    <div id="scroll-down" class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[20]">
      <a href="#about" aria-label="Gå videre ned på siden" class="focus:outline-none focus:ring-2 focus:ring-blue-400">
        <div class="float flex flex-col items-center hover:opacity-80 transition duration-300 ease-in-out">
          <p class="text-[18px] text-gray-50 font-semibold">Gå videre ned på siden</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 sm:w-12 sm:h-12 text-gray-50 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div>
      </a>
    </div>
  </section>
  <section id="about" class="info-section1 grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom">
    <div class="grid md:grid-cols-2 col-start-2 col-span-10">
      <!-- Text and button section -->
      <div>
        <h2 class="md:pb-6 pb-4 md:text-h3-desktop text-h3-mobile">Hvad er CP Danmark?</h2>
        <p>
          CP Danmark er en handicappolitisk interesseorganisation, der arbejder for at forbedre forholdene og livskvaliteten for mennesker med
          cerebral parese og deres pårørende.
          <br /><br />
          Målet for CP Danmark er klart og enkelt: Mennesker med cerebral parese skal have de samme muligheder som alle andre for at leve et aktivt, indholdsrigt
          og selvstændigt liv.
        </p>
      </div>

      <!-- Image section -->
      <div class="flex justify-end md:pt-0 pt-8">
        <img src="/images/about_section.webp" alt="Billede til 'hvad er CP Danmark?'-sektion" class="w-[550px] h-[350px] object-cover" />
      </div>
    </div>
  </section>

  <section id="info-accordian" class="info-section1_1 grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom max-w-7xl mx-auto">
    <div class="col-start-2 col-span-10">
      <AccordianInfo />
    </div>
  </section>

  <section id="kreds-accordian" class="info-section1_2 grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom max-w-7xl mx-auto">
    <div class="flex flex-col col-start-2 col-span-10">
      <h3 class="pb-4">Kredse</h3>
      <p class="pb-6">
        CP Danmark har kredse rundt omkring i hele landet, som kører med egen bestyrelse, økonomi og aktiviteter. De arbejder hver især for at støtte
        mennesker med CP lokalt gennem arrangementer, rådgivning og netværk. Hernedeunder kan du læse mere om bestyrelsen og de forskellige kommuner i
        hver kreds.
      </p>
    </div>
    <div class="col-start-2 col-span-10">
      <AccordianCircles />
    </div>
  </section>

  <section id="contact" class="contact grid grid-cols-12 md:pb-16 pb-12">
    <div class="col-start-2 col-span-10">
      <h3 class="pb-4">Har du et spørgsmål til CP Danmark?</h3>
      <p class="md:pb-12 pb-9 max-w-4xl">
        Så brug denne formular. Skriv dog <span class="font-semibold underline">ikke</span> ikke personfølsomme oplysninger i formularen, der heller ikke
        kan benyttes til spørgsmål til rådgiverne <em>(det kræver telefonisk henvendelse)</em>.
      </p>
    </div>
    <div class="form col-start-2 col-span-10 grid md:grid-cols-2 grid-cols-1 md:gap-16 gap-10 items-start justify-center">
      <form id="contact-form" class="md:order-none order-2">
        <div class="form-group flex flex-col">
          <label for="name" class="font-semibold mb-2">Navn</label>
          <input
            class="form-control focus:outline-none focus:ring-2 focus:ring-blue-400 p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4"
            id="name"
            placeholder="F.eks. Borris Jensen"
          />

          <label for="email" class="font-semibold mb-2">Email</label>
          <input
            class="form-control focus:outline-none focus:ring-2 focus:ring-blue-400 p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4"
            id="email"
            placeholder="F.eks. borris-jensen@gmail.com"
          />

          <label for="message" class="font-semibold mb-2">Spørgsmål</label>
          <textarea
            class="focus:outline-none focus:ring-2 focus:ring-blue-400 form-control bg-dust-100 border-dust-300 rounded-[5px] mb-4"
            id="message"
            rows="8"
            placeholder="Skriv dit spørgmål her"></textarea>

          <!-- File input starts here -->
          <label for="file" class="font-semibold mb-1">Vedhæft fil</label>
          <input type="file" class="attachment focus:outline-none focus:ring-2 focus:ring-blue-400" id="file" />
          <!-- File input ends here -->

          <a href="#" class="pt-8 focus:outline-none focus:ring-2 focus:ring-blue-400" aria-label="Placeholder-link (ingen funktionalitet)">
            <Button variant="secondary" size="small">Send</Button>
          </a>
        </div>
      </form>

      <div id="contact-info" class="flex flex-col justify-center">
        <h4 class="text-h4-mobile md:pb-6 pb-4">CP Danmark - Landsforeningen for cerebral parese</h4>
        <ul class="space-y-1 pb-4">
          <li>Blekinge Boulevard 2</li>
          <li>2630 Taastrup</li>
        </ul>

        <ul class="space-y-1 pb-4">
          <li>Mandag: Klokken 10.30-12.00 og 13.00-14.00</li>
          <li>Tirsdag-fredag: Klokken 10.00-12.00 og 13.00-14.00</li>
        </ul>

        <ul class="space-y-1 pb-4">
          <li>
            Telefon: <a
              href="tel: +45 38 88 45 75"
              class="hover:underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 underline transition duration-300 ease-in-out"
              aria-label="Ring CP Danmark på +45 38 88 45 75">+45 38 88 45 75</a
            >
          </li>
          <li>
            Mail: <a
              href="mailto: cpdanmark@cpdanmark.dk"
              class="hover:underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 underline transition duration-300 ease-in-out"
              aria-label="Send mail til CP Danmark på cpdanmark@cpdanmark.dk">cpdanmark@cpdanmark.dk</a
            >
          </li>
        </ul>

        <p>
          CP Danmarks sekretariat ligger i Handicaporganisationernes Hus i Høje-Taastrup – <a
            href="https://www.cpdanmark.dk/media/379940/saadan_finder_du_handicaporganisationernes_hus.pdf"
            target="_blank"
            class="how-to-find focus:outline-none focus:ring-2 focus:ring-blue-400 text-blue-700 hover:text-blue-600 underline transition duration-300 ease-in-out"
            aria-label="Læs mere om hvordan du finder vej til CP Danmarks sekretariat">sådan finder du vej til huset fra Høje-Taastrup Station</a
          >
        </p>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  /* Floating Animation */
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }

  .float {
    animation: float 3s ease-in-out infinite;
  }

  .breadcrumb a {
    color: #c1c1c1;
  }

  .breadcrumb a:hover {
    color: #7dc1fc;
  }

  .breadcrumb span {
    color: #f6f6f6;
  }

  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #7dc1fc;
  }

  /* Dark Mode */

  body.dark .breadcrumb a:hover,
  body.dark .breadcrumb span:hover {
    color: #7dc1fc;
  }

  body.dark h2,
  body.dark h3,
  body.dark h4,
  body.dark p {
    color: #f6f6f6;
  }

  body.dark input,
  body.dark textarea {
    background-color: #4f4f4f;
    border: #7d7d7d 1px solid;
  }

  body.dark .attachment {
    background-color: #333333;
    border: none;
  }

  body.dark input::placeholder,
  body.dark textarea::placeholder {
    color: #b3b3b3;
  }

  body.dark .how-to-find {
    color: #7dc1fc;
  }
</style>

<script>
  import { inView } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector("#hero-title");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation2 = document.querySelector("#hero-text");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation3 = document.querySelector("#hero-welcome");
      inView(elementmedanimation3, () => {
        elementmedanimation3.classList.add("animate__animated", "animate__fadeInDown");
      });

      const elementmedanimation4 = document.querySelector("#hero-line");
      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation5 = document.querySelector("#overlay2");
      inView(elementmedanimation5, () => {
        elementmedanimation5.classList.add("animate__animated", "animate__rotateInDownLeft");
      });

      const elementmedanimation6 = document.querySelector("#scroll-down");
      inView(elementmedanimation6, () => {
        elementmedanimation6.classList.add("animate__animated", "animate__fadeInDown");
      });

      const elementmedanimation7 = document.querySelector("#about p");
      inView(elementmedanimation7, () => {
        elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation8 = document.querySelector("#about img");
      inView(elementmedanimation8, () => {
        elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation9 = document.querySelector("#about h2");
      inView(elementmedanimation9, () => {
        elementmedanimation9.classList.add("animate__animated", "animate__slideInRight");
      });

      const elementmedanimation10 = document.querySelector("#info-accordian");
      inView(elementmedanimation10, () => {
        elementmedanimation10.classList.add("animate__animated", "animate__fadeInUp");
      });

      const elementmedanimation11 = document.querySelector("#kreds-accordian h3");
      inView(elementmedanimation11, () => {
        elementmedanimation11.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation12 = document.querySelector("#kreds-accordian p");
      inView(elementmedanimation12, () => {
        elementmedanimation12.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation13 = document.querySelector("#kreds-accordian");
      inView(elementmedanimation13, () => {
        elementmedanimation13.classList.add("animate__animated", "animate__fadeInUp");
      });

      const elementmedanimation14 = document.querySelector(".breadcrumb");
      inView(elementmedanimation14, () => {
        elementmedanimation14.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation15 = document.querySelector("#contact h3");
      inView(elementmedanimation15, () => {
        elementmedanimation15.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation16 = document.querySelector("#contact p");
      inView(elementmedanimation16, () => {
        elementmedanimation16.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation17 = document.querySelector("#contact-form");
      inView(elementmedanimation17, () => {
        elementmedanimation17.classList.add("animate__animated", "animate__fadeInUp");
      });

      const elementmedanimation18 = document.querySelector("#contact-info");
      inView(elementmedanimation18, () => {
        elementmedanimation18.classList.add("animate__animated", "animate__fadeInRight");
      });
    }
  });
</script>
