---
import MainLayout from "../layouts/MainLayout.astro";
import AccordianCP from "../components/AccordianCP.astro";
import AccordianFAQ from "../components/AccordianFAQ.astro";
---

<MainLayout
  title="CP Danmark | Hvad er CP?"
  description="CP Danmarks 'Hvad er CP?'-side"
  ogtitle="CP Danmark – Landsforeningen for cerebral parese"
  ogdescription="Læs mere omkring hvad CP-diagnosen er, og hvordan hverdagen er med CP"
>
  <section class="hero-section grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-28 pb-20 w-full h-screen md:px-0 px-4 relative">
    <div class="absolute inset-0 md:mt-12 mt-0 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 gap-6 content-center md:pb-24 pb-0 h-full">
      <div class="breadcrumb col-span-12">
        <a
          href="/"
          aria-label="Gå tilbage til forsiden"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">Forside</a
        >
        <span> / </span>
        <a
          href="/cp_os"
          aria-label="Undersiden til denne side er 'CP & os'"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">CP & os</a
        >
        <span> / </span>
        <a
          href="/hvad_er_cp"
          aria-label="Denne side er 'Hvad er CP?'"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">Hvad er CP?</a
        >
      </div>

      <h1 id="hero-title" class="col-span-12 display">Hvad er CP?</h1>
      <h2 id="hero-text" class="font-regular italic md:col-span-6 col-span-12 md:text-h4-desktop text-h4-mobile text-gray-50 max-w-3xl">
        Få indsigt i diagnosen og livet med CP— fra symptomer til hverdagsliv
      </h2>
    </div>

    <div class="hero_image w-full h-full absolute inset-0 z-0">
      <img src="/images/cp_image.webp" alt="Hero-billede til CP Danmarks 'Hvad er CP'-side'" class="w-full h-full object-cover" />
    </div>

    <div id="overlay1" class="absolute top-0 left-0 w-full h-full bg-gray-950 bg-opacity-[50%] z-0"></div>
    <div
      id="overlay2"
      class="absolute top-0 left-0 md:w-[50%] w-full h-full md:backdrop-blur-sm bg-opacity-75 bg-blue-950 z-0 md:rounded-r-full hidden md:block"
    >
    </div>

    <div id="scroll-down" class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[20]">
      <a href="#what-is-cp" aria-label="Gå videre ned på siden" class="focus:outline-none focus:ring-2 focus:ring-blue-400">
        <div class="float flex flex-col items-center hover:opacity-80 transition duration-300 ease-in-out">
          <p class="text-[18px] text-gray-50 font-semibold">Gå videre ned på siden</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 sm:w-12 sm:h-12 text-gray-50 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div>
      </a>
    </div>
  </section>

  <section id="what-is-cp" class="info-section1 grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-28 pb-20">
    <div class="grid md:grid-cols-2 col-start-2 col-span-10">
      <!-- Text and button section -->
      <div>
        <h2 class="md:pb-6 pb-4 md:text-h3-desktop text-h3-mobile">Forstå cerebral parese og dens betydning i hverdagen</h2>
        <p>
          Cerebral parese (CP) er en neurologisk tilstand, der påvirker bevægelse og muskelkontrol. Det er den mest almindelige årsag til motorisk
          funktionsnedsættelse hos børn. CP opstår som følge af en skade i hjernen, ofte før, under eller kort efter fødslen. Tilstanden varierer fra
          person til person, og dens indvirkning på dagligdagen kan være forskellig. Forståelse af CP er afgørende for at kunne navigere i de
          udfordringer og muligheder, som livet med CP indebærer.​
        </p>
      </div>

      <!-- Image section -->
      <div class="flex justify-end md:pt-0 pt-8">
        <img src="/images/cp_section1.webp" alt="Første billede til 'forstå cerebral parese'-sektion" class="w-[550px] h-[350px] object-cover" />
      </div>
    </div>
  </section>

  <section id="cp-accordian" class="info-section1_1 grid grid-cols-12 md:pb-28 pb-20 max-w-7xl mx-auto">
    <div class="grid md:grid-cols-2 col-start-2 col-span-10">
      <h3 class="md:pb-6 pb-4">Hvad er cerebral parese?</h3>
    </div>
    <div class="col-start-2 col-span-10">
      <AccordianCP />
    </div>
  </section>

  <section id="everydays" class="everydays-section grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom">
    <div class="grid md:grid-cols-2 col-start-2 col-span-10">
      <!-- Image section -->
      <div class="flex justify-start md:pt-0 pt-8">
        <img src="/images/cp_section2.webp" alt="Første billede til hverdagssektion" class="w-[550px] h-[350px] object-cover" />
      </div>
      <!-- Text and button section -->
      <div>
        <h3 class="md:pb-6 pb-4 md:pt-0 pt-8">Hverdagen med cerebral parese</h3>
        <p>
          Livet med CP indebærer en række udfordringer, men også mange muligheder. Det kan inkludere behov for hjælpemidler, tilpasninger i hjemmet og
          støtte i skolen eller på arbejdspladsen. Sociale relationer, fritidsaktiviteter og personlig udvikling er vigtige aspekter, hvor støtte og
          forståelse fra omgivelserne spiller en central rolle.
          <br /><br />
          CP Danmark tilbyder rådgivning, netværk og ressourcer for at støtte personer med CP og deres familier i at leve et aktivt og meningsfuldt liv.
        </p>
      </div>
    </div>
  </section>
  <section id="faq-accordian" class="faq grid grid-cols-12 md:pb-28 pb-20 max-w-7xl mx-auto">
    <div class="md:col-span-12 col-start-2 col-span-10">
      <h3 class="md:pb-6 pb-4">FAQ om livet med CP</h3>
    </div>
    <div class="md:col-span-12 col-start-2 col-span-10 grid md:grid-cols-2 gap-8 items-start">
      <!-- Accordion section -->
      <div>
        <AccordianFAQ />
      </div>
      <!-- Image section -->
      <div class="flex justify-end pt-8 md:pt-0">
        <img src="/images/cp_section3.webp" alt="Billede til FAQ-sektion" class="w-[550px] h-[350px] object-cover" />
      </div>
    </div>
  </section>
</MainLayout>

<style>
  /* Floating Animation */
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }

  .float {
    animation: float 3s ease-in-out infinite;
  }

  .breadcrumb a {
    color: #c1c1c1;
  }

  .breadcrumb a:hover {
    color: #7dc1fc;
  }

  .breadcrumb span {
    color: #f6f6f6;
  }

  /* Dark Mode */
  body.dark h2,
  body.dark h3,
  body.dark h4,
  body.dark p {
    color: #f6f6f6;
  }
</style>

<script>
  import { inView } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector("#hero-title");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation2 = document.querySelector("#hero-text");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation3 = document.querySelector("#hero-welcome");
      inView(elementmedanimation3, () => {
        elementmedanimation3.classList.add("animate__animated", "animate__fadeInDown");
      });

      const elementmedanimation4 = document.querySelector("#hero-line");
      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation5 = document.querySelector("#overlay2");
      inView(elementmedanimation5, () => {
        elementmedanimation5.classList.add("animate__animated", "animate__rotateInDownLeft");
      });

      const elementmedanimation6 = document.querySelector("#scroll-down");
      inView(elementmedanimation6, () => {
        elementmedanimation6.classList.add("animate__animated", "animate__fadeInDown");
      });

      const elementmedanimation7 = document.querySelector("#what-is-cp p");
      inView(elementmedanimation7, () => {
        elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation8 = document.querySelector("#what-is-cp img");
      inView(elementmedanimation8, () => {
        elementmedanimation8.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation9 = document.querySelector("#what-is-cp h2");
      inView(elementmedanimation9, () => {
        elementmedanimation9.classList.add("animate__animated", "animate__slideInRight");
      });

      const elementmedanimation10 = document.querySelector("#cp-accordian");
      inView(elementmedanimation10, () => {
        elementmedanimation10.classList.add("animate__animated", "animate__fadeInUp");
      });

      const elementmedanimation11 = document.querySelector("#cp-accordian h3");
      inView(elementmedanimation11, () => {
        elementmedanimation11.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation12 = document.querySelector("#cp-accordian");
      inView(elementmedanimation12, () => {
        elementmedanimation12.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation13 = document.querySelector("#everydays h3");
      inView(elementmedanimation13, () => {
        elementmedanimation13.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation14 = document.querySelector(".breadcrumb");
      inView(elementmedanimation14, () => {
        elementmedanimation14.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation15 = document.querySelector("#faq-accordian h3");
      inView(elementmedanimation15, () => {
        elementmedanimation15.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation16 = document.querySelector("#faq-accordian p");
      inView(elementmedanimation16, () => {
        elementmedanimation16.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation17 = document.querySelector("#faq-accordian");
      inView(elementmedanimation17, () => {
        elementmedanimation17.classList.add("animate__animated", "animate__fadeInUp");
      });

      const elementmedanimation18 = document.querySelector("#faq-accordian img");
      inView(elementmedanimation18, () => {
        elementmedanimation18.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation19 = document.querySelector("#everydays p");
      inView(elementmedanimation19, () => {
        elementmedanimation19.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation20 = document.querySelector("#everydays img");
      inView(elementmedanimation20, () => {
        elementmedanimation20.classList.add("animate__animated", "animate__fadeInRight");
      });
    }
  });
</script>
