---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import NewsCard from "../components/NewsCard.astro";

const fetchedNews = await fetch("https://tpemfmjlaqjtxbgiffqm.supabase.co/rest/v1/news_card", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwZW1mbWpsYXFqdHhiZ2lmZnFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcxNDYwMTMsImV4cCI6MjA2MjcyMjAxM30.CJxrmjwnfT8ybomcMvCxq0nn-rT0WwLtO9SJuvIttbo",
  },
});
const newscards = await fetchedNews.json();
---

<MainLayout
  title="CP Danmark | Forside"
  description="CP Danmarks forside"
  ogtitle="CP Danmark – Landsforeningen for cerebral parese"
  ogdescription="Din portal til mere viden omkring CP"
>
  <section
    class="hero-section grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom w-full h-screen md:px-0 px-4 relative"
  >
    <div class="absolute inset-0 md:mt-12 mt-0 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 gap-6 content-center md:pb-16 pb-0 h-full">
      <h1 id="hero-title" class="md:pb-6 pb-0 display col-span-12">Vi er her <br class="md:hidden block" /> for dig</h1>
      <h2 id="hero-text" class="font-regular italic col-span-12 md:col-span-6 text-h4-mobile text-gray-50 max-w-3xl">
        Uanset hvem du er, så er du landet det rette sted. CP Danmark er foreningen for dig der lever med cerebral parese— og for dem der støtter dig
      </h2>
    </div>

    <div class="hero_image w-full h-full absolute inset-0 z-0">
      <img
        src="/images/hero_image.webp"
        alt="Hero-billede til CP Danmarks forside"
        class="w-full h-full object-cover scale-x-[-1] brightness-[85%]"
      />
    </div>

    <div id="overlay1" class="absolute top-0 left-0 w-full h-full bg-gray-950 bg-opacity-[50%] z-0"></div>
    <div
      id="overlay2"
      class="absolute top-0 left-0 md:w-[50%] w-full h-full md:backdrop-blur-sm bg-opacity-75 bg-blue-800 z-0 md:rounded-r-full hidden md:block shadow-drop25"
    >
    </div>

    <div id="scroll-down" class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[20]">
      <a href="#get-started" aria-label="Gå videre ned på siden" class="focus:outline-none focus:ring-2 focus:ring-blue-400">
        <div class="float flex flex-col items-center hover:opacity-80 transition duration-300 ease-in-out">
          <p class="text-[18px] text-gray-50 font-semibold">Gå videre ned på siden</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 sm:w-12 sm:h-12 text-gray-50 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div>
      </a>
    </div>
  </section>

  <section id="get-started" class="grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom">
    <h2 id="get-started-title" class="col-start-2 col-span-10 pb-4">Kom godt i gang</h2>
    <p id="get-started-text" class="md:pb-4 pb-6 col-start-2 col-span-10 max-w-3xl">
      Uanset om du er ny, søger viden om CP, har brug for støtte eller bare vil bidrage til et godt formål— her finder du de vigtigste veje videre.
    </p>
    <div id="submenus" class="grid grid-cols-4 gap-gap items-center relative z-10 col-start-2 col-span-10 md:pt-8 pt-4">
      <div class="col-span-4 md:col-span-1 relative">
        <a
          href="/hvad_er_cp"
          aria-label="Gå til 'Hvad er CP?'"
          class="relative block aspect-[1/1] w-full hover:scale-105 transition duration-300 ease-in-out"
        >
          <img
            src="/images/submenu1.webp"
            alt="Billede til den første undermenu på CP Danmarks forside"
            class="w-full h-full object-cover brightness-75"
          />
          <div class="absolute inset-0 flex items-end pb-12 justify-center px-4">
            <p class="text-gray-50 text-center font-semibold bg-[#AE5D37]/85 p-4 hover:underline leading-6 text-[16px]">
              Bliv klogere på CP og få et indblik af hverdagen
            </p>
          </div>
        </a>
      </div>
      <div class="col-span-4 md:col-span-1 relative">
        <a
          href="/tilmeld"
          aria-label="Gå til 'Tilmeld'"
          class="relative block aspect-[1/1] w-full hover:scale-105 transition duration-300 ease-in-out"
        >
          <img
            src="/images/submenu2.webp"
            alt="Billede til den anden undermenu på CP Danmarks forside"
            class="w-full h-full object-cover brightness-75"
          />
          <div class="absolute inset-0 flex items-end pb-12 justify-start md:justify-center px-4">
            <p class="text-gray-50 text-center font-semibold bg-[#BBA572]/85 p-4 hover:underline leading-6 text-[16px]">
              Vær en del af fællesskabet og støt vores arbejde
            </p>
          </div>
        </a>
      </div>
      <div class="col-span-4 md:col-span-1 relative">
        <a href="/stoet" aria-label="Gå til 'Støt os'" class="relative block aspect-[1/1] w-full hover:scale-105 transition duration-300 ease-in-out">
          <img
            src="/images/submenu3.webp"
            alt="Billede til den tredje undermenu på CP Danmarks forside"
            class="w-full h-full object-cover brightness-75"
          />
          <div class="absolute inset-0 flex items-end pb-12 justify-center px-4">
            <p class="text-gray-50 text-center font-semibold bg-[#89A685]/85 p-4 hover:underline leading-6 text-[16px]">
              Giv et bidrag og hjælp mennesker med CP
            </p>
          </div>
        </a>
      </div>
      <div class="col-span-4 md:col-span-1 relative">
        <a
          href="/gode_raad"
          aria-label="Gå til 'Gode råd'"
          class="relative block aspect-[1/1] w-full hover:scale-105 transition duration-300 ease-in-out"
        >
          <img
            src="/images/submenu4.webp"
            alt="Billede til den fjerde undermenu på CP Danmark's forside"
            class="w-full h-full object-cover brightness-75"
          />
          <div class="absolute inset-0 flex items-end pb-12 justify-center px-4">
            <p class="text-gray-50 text-center font-semibold bg-[#7396B6]/85 p-4 hover:underline leading-6 text-[16px]">
              Find hjælp og vejledning til det der fylder lige nu
            </p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="experiences grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom">
    <h3 class="md:pb-8 pb-6 col-start-2 col-span-10">Personlige oplevelser fra fællesskabet</h3>
    <div id="quotes" class="col-start-2 col-span-10 grid md:grid-cols-4 gap-gap grid-cols-1 items-center justify-center">
      <div class="quote1 bg-gray-100 p-5 h-full flex flex-col">
        <blockquote class="italic pb-4 text-[15px]">
          "Jeg plejede at føle mig alene og misforstået. Det var svært at finde nogen, der virkelig kunne sætte sig ind i min hverdag. Her fandt jeg
          ikke bare viden, men et fællesskab, hvor jeg føler mig set og hørt."
        </blockquote>
        <p class="text-gray-800 text-[14.5px]">Sofie Madsen, 17 år</p>
        <em class="text-[14.5px] text-gray-600">(Lever med spastisk CP)</em>
      </div>
      <div class="quote2 bg-gray-100 p-5 h-full flex flex-col">
        <blockquote class="italic pb-4 text-[15px]">
          "Det føltes som en uoverskuelig jungle at finde den rette hjælp, især i starten. Men da vi fandt frem til denne side, faldt tingene bare på
          plads. Vi har nu både støtte og svar, når hverdagen bliver udfordrende."
        </blockquote>
        <p class="text-gray-800 text-[14.5px]">Jonas Kristensen, 35 år</p>
        <em class="text-[14.5px] text-gray-600">(Far til nydiagnosticeret barn med CP)</em>
      </div>
      <div class="quote3 bg-gray-100 p-5 h-full flex flex-col">
        <blockquote class="italic pb-4 text-[15px]">
          "Det er vigtigt for mig at have adgang til opdateret og lettilgængelig information. Denne platform har været et uvurderligt værktøj, når jeg
          skal støtte både forældre og unge i at forstå og håndtere livet med CP."
        </blockquote>
        <p class="text-gray-800 text-[14.5px]">Maria Lindholm, 42 år</p>
        <em class="text-[14.5px] text-gray-600">(Fysioterapeut med speciale i CP)</em>
      </div>
      <div class="quote4 bg-gray-100 p-5 h-full flex flex-col">
        <blockquote class="italic pb-4 text-[15px]">
          "Jeg har altid ønsket at være der for min bror, men manglede redskaberne til at forstå hans verden. Gennem denne side har jeg fået viden,
          indsigt og følelsen af, at vi ikke står alene i det her."
        </blockquote>
        <p class="text-gray-800 text-[14.5px]">Camilla Jensen, 30 år</p>
        <em class="text-[14.5px] text-gray-600">(Søster til ung mand med CP)</em>
      </div>
    </div>
  </section>
  <section class="news grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom relative">
    <div id="news" class="col-start-2 col-span-10 md:pb-8 pb-6">
      <h3>Seneste nyheder</h3>
      <a
        href="/nyheder"
        aria-label="Gå til 'Nyheder'"
        class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 hover:text-[#4E94FD] transition duration-300 ease-in-out col-start-2 col-span-10"
        >Se alle..</a
      >
    </div>
    <!-- Horizontal scroll container -->
    <div class="col-start-2 col-span-10 relative">
      <div id="carousel" class="flex overflow-x-auto gap-gap scroll-smooth scrollbar-hide h-[40rem]">
        <!-- More cards -->
        <NewsCard newscards={newscards} limit={6} />
      </div>
    </div>
  </section>

  <section id="info" class="info-section grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom">
    <div id="info-section1" class="grid md:grid-cols-2 col-start-2 col-span-10">
      <!-- Text and button section -->
      <div>
        <h3 class="md:pb-6 pb-4">Støt fællesskabet og få adgang til vigtige ressourcer</h3>
        <p class="pb-8">
          Som medlem af CP Danmark er du en vigtig del af et stærkt netværk. Du får ikke kun adgang til rådgivning, materialer og arrangementer, men
          du er også med til at gøre en forskel for alle, der lever med cerebral parese. Deltag i vores aktiviteter, støt vores arbejde, og vær med
          til at skabe forandring.
          <br /><br />
          <em>Tilmeld dig i dag og vær med til at styrke fællesskabet.</em>
        </p>
        <a href="/tilmeld" aria-label="Gå til 'Tilmeld'">
          <Button variant="secondary" size="small">Gå til 'Tilmeld'</Button>
        </a>
      </div>

      <!-- Image section -->
      <div class="flex justify-end md:pt-0 pt-9">
        <img src="/images/info_section1.webp" alt="Første billede til info-sektion" class="w-[550px] h-[350px] object-cover" />
      </div>
    </div>
    <div id="info-section2" class="grid md:grid-cols-2 col-start-2 col-span-10 md:pt-24 pt-20">
      <!-- Image section -->
      <div class="flex justify-start">
        <img src="/images/info_section2.webp" alt="Andet billede til info-sektion" class="w-[550px] h-[350px] object-cover" />
      </div>
      <!-- Text and button section -->
      <div>
        <h3 class="md:pb-6 pb-4 md:pt-0 pt-9">Har du spørgsmål eller brug for støtte?</h3>
        <p class="pb-8">
          Uanset om du lever med CP, er pårørende eller står midt i en konkret udfordring, er du ikke alene. Vi tilbyder gratis og fortrolig
          rådgivning om alt fra rettigheder og hjælpemidler til skole, arbejde og hverdagsliv.
          <br /><br />
          <em>Skriv, ring— eller find den hjælp, du har brug for her.</em>
        </p>
        <a href="/raadgivning" aria-label="Gå til 'Rådgivning'">
          <Button variant="secondary" size="small">Gå til 'Rådgivning'</Button>
        </a>
      </div>
    </div>
    <div id="info-section3" class="grid md:grid-cols-2 col-start-2 col-span-10 md:pt-24 pt-20">
      <!-- Text and button section -->
      <div>
        <h3 class="md:pb-6 pb-4">Er du i tvivl om noget?</h3>
        <p class="pb-8">
          Vi forstår at det kan være overvældende at finde den rette vej videre. Uanset hvad du søger, så står vi klar til at hjælpe dig med at finde
          den rigtige støtte og information.
          <br /><br />
          <em>Har du spørgsmål eller er du usikker på hvorhenne du skal starte? Vi er klar til at hjælpe dig med at finde vejen frem.</em>
        </p>
        <a href="/gode_raad" aria-label="Gå til 'Gode råd'">
          <Button variant="secondary" size="small">Gå til 'Gode råd'</Button>
        </a>
      </div>

      <!-- Image section -->
      <div class="flex justify-end md:pt-0 pt-9">
        <img src="/images/info_section3.webp" alt="Tredje billede til info-sektion" class="w-[550px] h-[350px] object-cover" />
      </div>
    </div>
  </section>
</MainLayout>
<style>
  /* Floating Animation */
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }

  .float {
    animation: float 3s ease-in-out infinite;
  }

  /* Dark Mode */
  body.dark .quote1,
  body.dark .quote2,
  body.dark .quote3,
  body.dark .quote4 {
    background-color: #4f4f4f;
  }
  body.dark .quote1 em,
  body.dark .quote2 em,
  body.dark .quote3 em,
  body.dark .quote4 em {
    color: #b7b7b7;
  }

  body.dark .quote1 p,
  body.dark .quote2 p,
  body.dark .quote3 p,
  body.dark .quote4 p {
    color: #e4e4e4;
  }

  body.dark h1,
  body.dark h2,
  body.dark h3,
  body.dark h4,
  body.dark p,
  body.dark a {
    color: #f6f6f6;
  }
</style>

<script>
  import { inView } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector("#hero-title");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation2 = document.querySelector("#hero-text");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation4 = document.querySelector("#hero-line");
      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation5 = document.querySelector("#overlay2");
      inView(elementmedanimation5, () => {
        elementmedanimation5.classList.add("animate__animated", "animate__rotateInDownLeft");
      });

      const elementmedanimation6 = document.querySelector("#scroll-down");
      inView(elementmedanimation6, () => {
        elementmedanimation6.classList.add("animate__animated", "animate__fadeInDown");
      });

      const elementmedanimation7 = document.querySelector("#get-started-title");
      inView(elementmedanimation7, () => {
        elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation8 = document.querySelector("#get-started-text");
      inView(elementmedanimation8, () => {
        elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation9 = document.querySelector(".experiences h3");
      inView(elementmedanimation9, () => {
        elementmedanimation9.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation10 = document.querySelector(".news #carousel");
      inView(elementmedanimation10, () => {
        elementmedanimation10.classList.add("animate__animated", "animate__slideInLeft");
      });

      const elementmedanimation12 = document.querySelector("#news");
      inView(elementmedanimation12, () => {
        elementmedanimation12.classList.add("animate__animated", "animate__fadeInRight");
      });

      // Delay animations
      const sections = document.querySelectorAll("#submenus > div");
      sections.forEach((el, index) => {
        inView(el, () => {
          el.classList.add("animate__animated", "animate__fadeInUp");
          el.style.animationDelay = `${index * 0.2}s`;
        });
      });

      const quotes = document.querySelectorAll("#quotes > div");
      quotes.forEach((el, index) => {
        inView(el, () => {
          el.classList.add("animate__animated", "animate__fadeInLeft");
          el.style.animationDelay = `${index * 0.2}s`;
        });
      });

      const info = document.querySelectorAll("#info-section1 > div");
      info.forEach((el, index) => {
        inView(el, () => {
          el.classList.add("animate__animated", "animate__fadeInLeft");
          el.style.animationDelay = `${index * 0.2}s`;
        });
      });

      const info2 = document.querySelectorAll("#info-section2 > div");
      info2.forEach((el, index) => {
        inView(el, () => {
          el.classList.add("animate__animated", "animate__fadeInRight");
          el.style.animationDelay = `${index * 0.2}s`;
        });
      });

      const info3 = document.querySelectorAll("#info-section3 > div");
      info3.forEach((el, index) => {
        inView(el, () => {
          el.classList.add("animate__animated", "animate__fadeInLeft");
          el.style.animationDelay = `${index * 0.2}s`;
        });
      });
    }
  });
</script>
