---
import MainLayout from "../layouts/MainLayout.astro";
import NewsCard from "../components/NewsCard.astro";
import Button from "../components/Button.astro";

const news = [
  {
    image: "/images/newscard1.webp",
    date: "9. april 2025",
    title: "Olivia Dahl modtager ...",
    description: "Hun ville ikke have noget med handicap ...",
  },
  {
    image: "/images/newscard2.webp",
    date: "13. marts 2025",
    title: "Kom med CP Danmark ...",
    description: "Vil du være med til at styrke dialogen ...",
  },
  {
    image: "/images/newscard3.webp",
    date: "24. februar 2025",
    title: "TEMA: kreative udfoldelser og CP",
    description: "Vi er klar med årets første CP INDBLIK ...",
  },
  {
    image: "/images/newscard4.webp",
    date: "23. februar 2025",
    title: "Midt i frustrationerne ...",
    description: "Massive nedskæringer rammer handicap ...",
  },
  {
    image: "/images/newscard5.webp",
    date: "11. december 2024",
    title: "CP INDBLIK udkommer 4 gange ...",
    description: "I det nye år går CP Danmarks ...",
  },
  {
    image: "/images/newscard6.webp",
    date: "10. december 2024",
    title: "Nyhed: Læse- og skriveadgang ...",
    description: "Nu kan du skrive digital post ...",
  },
  {
    image: "/images/newscard7.webp",
    date: "3. december 2024",
    title: "Vi har også brug for et ...",
    description: "I de seneste år er der kommet et øget fokus ...",
  },
];
---

<MainLayout
  title="CP Danmark | forside"
  description="CP Danmark's forside"
  ogtitle="CP Danmark – Landsforeningen for cerebral parese"
  ogdescription="forsiden til CP Danmark's hjemmeside"
>
  <section
    class="hero-section grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom w-full h-screen md:px-0 px-4 relative"
  >
    <div class="flex flex-col items-left relative z-10 col-start-2 col-span-10 pt-24">
      <p id="hero-welcome" class="md:text-h3-desktop text-h3-mobile font-semibold italic text-gray-50 pb-2">Velkommen</p>
      <hr id="hero-line" class="md:w-[20%] w-[50%] pb-4 text-gray-50 border-dashed" />
      <h1 id="hero-title" class="display">Vi er her for dig</h1>
      <p id="hero-text" class="md:text-h4-desktop text-h4-mobile text-gray-50 pt-6 max-w-3xl">
        Uanset hvem du er, så er du landet det rette sted. CP Danmark er foreningen for dig der lever med cerebral parese— og for dem der støtter dig
      </p>
    </div>

    <div class="hero_image w-full h-full absolute inset-0 z-0">
      <img src="/images/hero_image.webp" alt="Hero-billede til CP Danmarks forside" class="w-full h-full object-cover scale-x-[-1]" />
    </div>

    <div id="overlay1" class="absolute top-0 left-0 w-full h-full bg-gray-950 bg-opacity-[50%] z-0"></div>
    <div
      id="overlay2"
      class="absolute top-0 left-0 md:w-[50%] w-full h-full md:backdrop-blur-sm bg-opacity-75 bg-blue-950 z-0 md:rounded-r-full hidden md:block"
    >
    </div>

    <div id="scroll-down" class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[10]">
      <a href="#get-started" aria-label="Gå videre ned på siden">
        <div class="float flex flex-col items-center hover:opacity-80 transition duration-300 ease-in-out">
          <p class="text-[18px] text-gray-50 font-semibold">Gå videre ned på siden</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 sm:w-12 sm:h-12 text-gray-50 hover:text-blue-700 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div>
      </a>
    </div>
  </section>

  <section id="get-started" class="grid grid-cols-12 md:pt-20 pt-16 md:pb-desktop-bottom pb-mobil-bottom">
    <h1 class="md:text-h2-desktop text-h2-mobile col-start-2 col-span-10">Kom godt i gang</h1>
    <p class="pb-4 col-start-2 col-span-10 max-w-2xl">
      Uanset om du er ny, søger viden om CP, har brug for støtte eller bare vil bidrage til et godt formål— her finder du de vigtigste veje videre.
    </p>
    <div class="grid grid-cols-4 gap-4 items-center relative z-10 col-start-2 col-span-10 md:pt-8 pt-4">
      <div class="col-span-4 md:col-span-1 hover:opacity-80 transition duration-300 ease-in-out relative">
        <a href="/hvad_er_cp" aria-label="Gå til 'Hvad er CP?'" class="block">
          <img
            src="/images/submenu1.webp"
            alt="Billede til den første undermenu på CP Danmarks forside"
            class="md:w-[310px] md:h-[310px] w-full h-full object-cover brightness-75"
          />
          <div class="absolute inset-0 flex items-end pb-12 justify-center px-4">
            <p class="text-gray-50 text-center font-semibold bg-[#AE5D37]/85 p-4 hover:underline">
              Bliv klogere på CP— og få indblik i livet med diagnosen
            </p>
          </div>
        </a>
      </div>
      <div class="col-span-4 md:col-span-1 hover:opacity-80 transition duration-300 ease-in-out relative">
        <a href="/tilmeld" aria-label="Gå til 'Tilmeld'" class="block">
          <img
            src="/images/submenu2.webp"
            alt="Billede til den første undermenu på CP Danmarks forside"
            class="md:w-[310px] md:h-[310px] w-full h-full object-cover brightness-75"
          />
          <div class="absolute inset-0 flex items-end pb-12 justify-start md:justify-center px-4">
            <p class="text-gray-50 text-center font-semibold bg-[#BBA572]/85 p-4 hover:underline">Vær en del af fællesskabet og støt vores arbejde</p>
          </div>
        </a>
      </div>
      <div class="col-span-4 md:col-span-1 hover:opacity-80 transition duration-300 ease-in-out relative">
        <a href="/stoet" aria-label="Gå til 'Støt os'" class="block">
          <img
            src="/images/submenu3.webp"
            alt="Billede til den første undermenu på CP Danmarks forside"
            class="md:w-[310px] md:h-[310px] w-full h-full object-cover brightness-75"
          />
          <div class="absolute inset-0 flex items-end pb-12 justify-center px-4">
            <p class="text-gray-50 text-center font-semibold bg-[#89A685]/85 p-4 hover:underline">Giv et bidrag og hjælp mennesker med CP</p>
          </div>
        </a>
      </div>
      <div class="col-span-4 md:col-span-1 hover:opacity-80 transition duration-300 ease-in-out relative">
        <a href="/gode_raad" class="block">
          <img
            src="/images/submenu4.webp"
            alt="Billede til den første undermenu på CP Danmark's forside"
            class="md:w-[310px] md:h-[310px] w-full h-full object-cover brightness-75"
          />
          <div class="absolute inset-0 flex items-end pb-12 justify-center px-4">
            <p class="text-gray-50 text-center font-semibold bg-[#7396B6]/85 p-4 hover:underline">
              Find hjælp og vejledning til det, der fylder lige nu
            </p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="experiences grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom">
    <h2 class="md:text-h3-desktop text-h3-mobile font-bold md:pb-8 pb-4 col-start-2 col-span-10">Personlige oplevelser fra fællesskabet</h2>
    <div class="col-start-2 col-span-10 grid md:grid-cols-4 gap-4 grid-cols-1 items-start justify-center">
      <div class="quote1 bg-gray-100 p-5">
        <blockquote class="italic pb-4">"Jeg plejede at føle mig alene. Men her fandt jeg både svar, og nogen der forstår mig."</blockquote>
        <p class="text-gray-800 text-[14px]">↳ Sofie, 17 år – lever med spastisk CP</p>
      </div>
      <div class="quote2 bg-gray-100 p-5">
        <blockquote class="italic pb-4">"Det var en jungle at finde hjælp&mdash; indtil jeg landede her. Nu føler vi os trygge."</blockquote>
        <p class="text-gray-800 text-[14px]">↳ Jonas, far til barn med CP</p>
      </div>
      <div class="quote3 bg-gray-100 p-5">
        <blockquote class="italic pb-4">"Som fagperson bruger jeg siden, når jeg skal guide forældre og unge videre."</blockquote>
        <p class="text-gray-800 text-[14px]">↳ Maria, ergoterapeut</p>
      </div>
      <div class="quote4 bg-gray-100 p-5">
        <blockquote class="italic pb-4">"Jeg anede ikke hvorhenne jeg skulle starte. Det her sted blev mit første skridt."</blockquote>
        <p class="text-gray-800 text-[14px]">↳ Camilla, 32 år – nydiagnosticeret</p>
      </div>
    </div>
  </section>
  <section class="news grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom relative">
    <div class="col-start-2 col-span-10 md:pb-8 pb-4">
      <h2 class="md:text-h3-desktop text-h3-mobile">Seneste nyheder</h2>
      <a href="/nyheder" aria-label="Gå til 'Nyheder'">
        <p class="underline hover:text-blue-700 transition duration-300 ease-in-out col-start-2 col-span-10">Se alle ...</p>
      </a>
    </div>
    <!-- Horizontal scroll container -->
    <div class="col-start-2 col-span-10 relative">
      <div id="carousel" class="flex overflow-x-auto space-x-4 scroll-smooth scrollbar-hide md:h-[35rem] h-[31rem]">
        <!-- More cards -->
        {news.map((item) => <NewsCard image={item.image} date={item.date} title={item.title} description={item.description} />)}
      </div>
    </div>
  </section>

  <section class="info-section grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom">
    <div class="grid md:grid-cols-2 col-start-2 col-span-10 items-center">
      <!-- Text and button section -->
      <div>
        <h3 class="md:pb-6 pb-4">Støt fællesskabet og få adgang til vigtige ressourcer</h3>
        <p class="pb-8">
          Som medlem af CP Danmark er du en vigtig del af et stærkt netværk. Du får ikke kun adgang til rådgivning, materialer og arrangementer, men
          du er også med til at gøre en forskel for alle, der lever med cerebral parese. Deltag i vores aktiviteter, støt vores arbejde, og vær med
          til at skabe forandring.
          <br /><br />
          Tilmeld dig i dag og vær med til at styrke fællesskabet.
        </p>
        <a href="/tilmeld" aria-label="Gå til 'Tilmeld'">
          <Button variant="tertiary" size="small">Gå til 'Tilmeld'</Button>
        </a>
      </div>

      <!-- Image section -->
      <div class="flex justify-end md:pt-0 pt-8">
        <img src="/images/info_section1.webp" alt="Første billede til info-sektion" class="w-[550px] h-[400px] object-cover" />
      </div>
    </div>
    <div class="grid md:grid-cols-2 col-start-2 col-span-10 items-center md:pt-24 pt-20">
      <!-- Image section -->
      <div class="flex justify-start">
        <img src="/images/info_section2.webp" alt="Andet billede til info-sektion" class="w-[550px] h-[400px] object-cover" />
      </div>
      <!-- Text and button section -->
      <div>
        <h3 class="md:pb-6 pb-4 md:pt-0 pt-8">Har du spørgsmål eller brug for støtte?</h3>
        <p class="pb-8">
          Uanset om du lever med CP, er pårørende eller står midt i en konkret udfordring, er du ikke alene. Vi tilbyder gratis og fortrolig
          rådgivning om alt fra rettigheder og hjælpemidler til skole, arbejde og hverdagsliv.
          <br /><br />
          Skriv, ring— eller find den hjælp, du har brug for her.
        </p>
        <a href="/raadgivning" aria-label="Gå til 'Rådgivning'">
          <Button variant="tertiary" size="small">Gå til 'Rådgivning'</Button>
        </a>
      </div>
    </div>
    <div class="grid md:grid-cols-2 col-start-2 col-span-10 items-center md:pt-24 pt-20">
      <!-- Text and button section -->
      <div>
        <h3 class="md:pb-6 pb-4">Er du i tvivl om noget?</h3>
        <p class="pb-8">
          Vi forstår at det kan være overvældende at finde den rette vej videre. Uanset hvad du søger, så står vi klar til at hjælpe dig med at finde
          den rigtige støtte og information.
          <br /><br />
          Har du spørgsmål eller er du usikker på hvorhenne du skal starte? Vi er klar til at hjælpe dig med at finde vejen frem.
        </p>
        <a href="/gode_raad" aria-label="Gå til 'Gode råd'">
          <Button variant="tertiary" size="small">Gå til 'Gode råd'</Button>
        </a>
      </div>

      <!-- Image section -->
      <div class="flex justify-end md:pt-0 pt-8">
        <img src="/images/info_section3.webp" alt="Tredje billede til info-sektion" class="w-[550px] h-[400px] object-cover" />
      </div>
    </div>
  </section>
</MainLayout>
<style>
  /* Floating Animation */
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }

  .float {
    animation: float 3s ease-in-out infinite;
  }

  /* Dark Mode */
  body.dark .quote1,
  body.dark .quote2,
  body.dark .quote3,
  body.dark .quote4 {
    background-color: #4f4f4f;
    color: #f6f6f6;
  }

  body.dark .quote1 p,
  body.dark .quote2 p,
  body.dark .quote3 p,
  body.dark .quote4 p {
    color: #f6f6f6;
  }

  body.dark h1,
  body.dark h2,
  body.dark h3,
  body.dark h4,
  body.dark p,
  body.dark a {
    color: #f6f6f6;
  }
</style>

<script>
  import { animate, inView } from "motion";
  /*Entrance Animation*/
  animate("body", { opacity: [0, 1] }, { duration: 1 });

  /** inView Animations */
  const elementmedanimation1 = document.querySelector("#hero-title");
  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
  });

  const elementmedanimation2 = document.querySelector("#hero-text");
  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
  });

  const elementmedanimation3 = document.querySelector("#hero-welcome");
  inView(elementmedanimation3, () => {
    elementmedanimation3.classList.add("animate__animated", "animate__fadeInDown");
  });

  const elementmedanimation4 = document.querySelector("#hero-line");
  inView(elementmedanimation4, () => {
    elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
  });

  const elementmedanimation5 = document.querySelector("#overlay2");
  inView(elementmedanimation5, () => {
    elementmedanimation5.classList.add("animate__animated", "animate__rotateInDownLeft");
  });

  const elementmedanimation6 = document.querySelector("#scroll-down");
  inView(elementmedanimation6, () => {
    elementmedanimation6.classList.add("animate__animated", "animate__fadeInDown");
  });
</script>
