---
import MainLayout from "../layouts/MainLayout.astro";
import AccordianMaterials1 from "../components/AccordianMaterials1.astro";
import AccordianMaterials2 from "../components/AccordianMaterials2.astro";
import AccordianMaterials3 from "../components/AccordianMaterials3.astro";
---

<MainLayout
  title="CP Danmark | Materialer"
  description="CP Danmarks 'Materialer'-side"
  ogtitle="CP Danmark – Landsforeningen for cerebral parese"
  ogdescription="Find materielle ressourcer til at blive klogere omkring CP"
>
  <section id="hero" class="hero grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom md:pt-36 pt-28 relative">
    <div class="flex flex-col items-left relative z-10 col-start-2 col-span-10 md:pb-16 pb-8">
      <div class="breadcrumb pb-2 md:pt-12 pt-16">
        <a
          href="/"
          aria-label="Gå tilbage til forsiden"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">Forside</a
        >
        <span> / </span>
        <a
          href="#"
          aria-label="Det overordnede menupunkt er 'Bliv klogere' (menu-link med ingen funktion)"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out"
          >Bliv klogere</a
        >
        <span> / </span>
        <a
          href="/materialer"
          aria-label="Denne side er 'Materialer'"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">Materialer</a
        >
      </div>
      <h1 class="md:text-h2-desktop text-h2-mobile md:pb-0 pb-2">Materialer</h1>
      <p class="md:text-h4-desktop text-h4-mobile italic">Find viden, inspiration og fortællinger om livet med CP</p>
    </div>

    <div id="materials" class="col-start-2 col-span-10 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8">
      <AccordianMaterials1 />
      <AccordianMaterials2 />
      <AccordianMaterials3 />
    </div>
  </section>
</MainLayout>

<style>
  body.dark h1,
  body.dark p {
    color: #f6f6f6;
  }
</style>

<script>
  import { inView } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector("#hero h1");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation2 = document.querySelector("#hero p");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation3 = document.querySelector(".breadcrumb");
      inView(elementmedanimation3, () => {
        elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const materials = document.querySelectorAll("#materials > div");
      materials.forEach((el, index) => {
        inView(el, () => {
          el.classList.add("animate__animated", "animate__fadeInRight");
          el.style.animationDelay = `${index * 0.2}s`;
        });
      });
    }
  });
</script>
