---
import MainLayout from "../layouts/MainLayout.astro";
import NewsCard2 from "../components/NewsCard2.astro";

const news = [
  {
    image: "/images/newscard1.webp",
    date: "9. april 2025",
    title: "Olivia Dahl modtager Helene Elsass Prisen 2025",
    description: "Hun ville ikke have noget med handicap ...",
  },
  {
    image: "/images/newscard2.webp",
    date: "13. marts 2025",
    title: "Kom med CP Danmark til Folkemødet 2025",
    description: "Vil du være med til at styrke dialogen om ...",
  },
  {
    image: "/images/newscard3.webp",
    date: "24. februar 2025",
    title: "TEMA: kreative udfoldelser og CP",
    description: "Vi er klar med årets første CP INDBLIK. I dette magasin sætter vi fokus på ...",
  },
  {
    image: "/images/newscard4.webp",
    date: "23. februar 2025",
    title: "Midt i frustrationerne – husk, der er valgår i år!",
    description: "Massive nedskæringer rammer handicap ...",
  },
  {
    image: "/images/newscard5.webp",
    date: "11. december 2024",
    title: "CP INDBLIK udkommer 4 gange i 2025",
    description: "I det nye år går CP Danmarks medlemsmagasin fra fem til fire udgaver ...",
  },
  {
    image: "/images/newscard6.webp",
    date: "10. december 2024",
    title: "Nyhed: læse- og skriveadgang til Digital Post",
    description: "Nu kan du skrive digital post på vegne af ...",
  },
  {
    image: "/images/newscard7.webp",
    date: "3. december 2024",
    title: "Vi har også brug for et voksenløft på handicapområdet",
    description: "I de seneste år er der kommet et øget ...",
  },
  {
    image: "/images/newscard8.webp",
    date: "28. november 2024",
    title: "Hvem skal hædres med Helene Elsass Prisen 2025?",
    description: "Tidligere i år modtog den professionelle ...",
  },
  {
    image: "/images/newscard9.webp",
    date: "23. september 2024",
    title: "Landsmøde 2024: genvalg af formandskabet og et rørende farvel",
    description: "I weekenden den 20-22. september ...",
  },
];
---

<MainLayout
  title="CP Danmark | nyheder"
  description="CP Danmark's nyheder"
  ogtitle="CP Danmark – Landsforeningen for cerebral parese"
  ogdescription="nyheder til CP Danmark's hjemmeside"
>
  <section class="hero grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom md:pt-36 pt-28 relative">
    <div class="col-start-2 col-span-10 md:pb-16 pb-8">
      <h1 class="md:text-h2-desktop text-h2-mobile md:pt-16 pt-20 md:pb-0 pb-2">Nyheder</h1>
      <hr class="md:w-[25%] w-[50%] pt-4 border-dashed pb-2" />
      <p class="md:text-h4-desktop text-h4-mobile italic">Hold dig opdateret på nyt om CP, rettigheder, arrangementer og CP Danmarks arbejde</p>
    </div>
    <div class="col-start-2 col-span-10 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8 items-center justify-center">
      {news.map((item) => <NewsCard2 image={item.image} date={item.date} title={item.title} description={item.description} />)}
    </div>
  </section>
</MainLayout>

<style>
  body.dark h1,
  body.dark p {
    color: #f6f6f6;
  }
</style>
