---
import MainLayout from "../layouts/MainLayout.astro";
import AccordianCounselling from "../components/AccordianCounselling.astro";
---

<MainLayout
  title="CP Danmark | Rådgivning"
  description="CP Danmarks 'Rådgivning'-side"
  ogtitle="CP Danmark – Landsforeningen for cerebral parese"
  ogdescription="Få rådgivning til noget af det som du døjer med, eller er i tvivl om"
>
  <section id="hero" class="hero-section grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-28 pb-20 w-full h-screen md:px-0 px-4 relative">
    <div class="absolute inset-0 md:mt-12 mt-0 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 gap-6 content-center md:pb-24 pb-0 h-full">
      <div class="breadcrumb col-span-12">
        <a
          href="/"
          aria-label="Gå tilbage til forsiden"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">Forside</a
        >
        <span> / </span>
        <a
          href="#"
          aria-label="Det overordnede menupunkt er 'Bliv klogere' (menu-link med ingen funktion)"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out"
          >Bliv klogere</a
        >
        <span> / </span>
        <a
          href="/raadgivning"
          aria-label="Denne side er 'Rådgivning'"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">Rådgivning</a
        >
      </div>

      <h1 id="hero-title" class="md:pb-6 pb-0 col-span-12 display">Rådgivning</h1>
      <h2 id="hero-text" class="font-regular italic md:col-span-6 col-span-12 text-h4-mobile text-gray-50 max-w-3xl">
        Vi er her for at støtte dig— uanset hvor du er i livet med CP
      </h2>
    </div>

    <div class="hero_image w-full h-full absolute inset-0 z-0">
      <img
        src="/images/counselling_image.webp"
        alt="Hero-billede til CP Danmarks 'Rådgivning'-side"
        class="w-full h-full object-cover brightness-[65%] md:brightness-75"
      />
    </div>

    <div id="overlay1" class="absolute top-0 left-0 w-full h-full bg-gray-950 bg-opacity-[50%] z-0"></div>
    <div
      id="overlay2"
      class="absolute top-0 left-0 md:w-[50%] w-full h-full md:backdrop-blur-sm bg-opacity-75 bg-blue-950 z-0 md:rounded-r-full hidden md:block"
    >
    </div>

    <div id="scroll-down" class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[20]">
      <a href="#main-content" aria-label="Gå videre ned på siden" class="focus:outline-none focus:ring-2 focus:ring-blue-400">
        <div class="float flex flex-col items-center hover:opacity-80 transition duration-300 ease-in-out">
          <p class="text-[18px] text-gray-50 font-semibold">Gå videre ned på siden</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 sm:w-12 sm:h-12 text-gray-50 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div>
      </a>
    </div>
  </section>

  <section id="main-content" class="main">
    <div class="main-section grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom">
      <div class="col-start-2 col-span-10">
        <div class="md:pb-24 pb-20">
          <h3 class="pb-6">Specialiseret rådgivning til dig</h3>
          <p>
            Hos CP Danmark tilbyder vi gratis, individuel rådgivning til mennesker med cerebral parese og deres pårørende. Uanset om du har brug for
            støtte i hverdagen, hjælp til at navigere i det offentlige system, eller bare har spørgsmål om livet med CP, kan du få professionel
            sparring fra vores erfarne rådgivere. Vi lytter, guider og støtter&mdash; og vi tager altid udgangspunkt i din situation og dine behov.
          </p>
        </div>
      </div>

      <div id="info" class="grid md:grid-cols-2 grid-cols-1 gap-gap col-start-2 col-span-10">
        <!-- First image + text block -->
        <div class="flex flex-col gap-6">
          <div>
            <img src="/images/line.webp" alt="Første billede til info-sektion" class="w-auto h-[400px] object-cover" />
          </div>
          <div>
            <h4 class="text-h4-mobile pb-4 md:pt-5 pt-0">Line McMonagle <em>(socialrådgiver)</em></h4>
            <p class="pb-8">
              Line er uddannet socialformidler og har gennem mange år arbejdet med børn, unge og voksne med særlige behov i det kommunale og senere på
              et hospital, hvor hun blandt andet har rådgivet familier med børn og unge med cerebral parese. Udover rådgivning holder Line oplæg,
              kurser og webinarer.
            </p>
            <em>Du kan kontakte og få rådgivning af Line ved at ringe på: 38 14 88 98</em>
          </div>
          <hr class="w-[50%]" />
          <ul>
            <li>Tirsdag kl. 14.30-18.00</li>
            <li>Torsdag kl. 08.00-11.30</li>
            <li>Fredag kl. 09.00-12.00</li>
          </ul>
        </div>

        <!-- Second image + text block -->
        <div class="flex flex-col gap-6">
          <div>
            <img src="/images/klaus.webp" alt="Andet billede til info-sektion" class="w-auto h-[400px] object-cover" />
          </div>
          <div>
            <h4 class="text-h4-mobile pb-4 md:pt-5 pt-0">Klaus Christensen <em>(psykolog)</em></h4>
            <p class="pb-8">
              Klaus har en bred erfaring med at rådgive fagfolk, pårørende og mennesker med vidt forskellige handicap i forhold til uddannelse og
              arbejde. Klaus har siden 2004 rådgivet og vejledt CP Danmarks medlemmer, været oplægsholder samt projektleder på
              arbejdsmarkedsrelaterede projekter. Udover rådgivning holder Klaus oplæg, kurser og webinarer.
            </p>
            <em>Du kan kontakte og få rådgivning af Klaus ved at ringe på: 38 88 45 95</em>
          </div>
          <hr class="w-[50%]" />
          <ul>
            <li>Tirsdag kl. 09-12</li>
            <li>Onsdag kl. 09-12</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="accordian-section grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom max-w-7xl mx-auto">
    <div id="accordian" class="col-start-2 col-span-10">
      <h4 class="md:text-h3-desktop text-h3-mobile md:pb-8 pb-6">Hvad kan vi hjælpe dig med?</h4>
      <AccordianCounselling />
    </div>
  </section>

  <style>
    /* Floating Animation */
    @keyframes float {
      0% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0);
      }
    }

    .float {
      animation: float 3s ease-in-out infinite;
    }

    .breadcrumb a {
      color: #c1c1c1;
    }

    .breadcrumb span {
      color: #f6f6f6;
    }

    body.dark .breadcrumb a:hover,
    body.dark .breadcrumb span:hover {
      color: #7dc1fc;
    }

    /* Dark Mode */
    body.dark h2,
    body.dark h3,
    body.dark h4,
    body.dark p {
      color: #f6f6f6;
    }
  </style>

  <script>
    import { inView } from "motion";

    document.addEventListener("DOMContentLoaded", () => {
      const reduceMotion = document.body.classList.contains("reduce-motion");

      if (!reduceMotion) {
        const elementmedanimation1 = document.querySelector("#hero-title");
        inView(elementmedanimation1, () => {
          elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
        });

        const elementmedanimation2 = document.querySelector("#hero-text");
        inView(elementmedanimation2, () => {
          elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
        });

        const elementmedanimation5 = document.querySelector("#overlay2");
        inView(elementmedanimation5, () => {
          elementmedanimation5.classList.add("animate__animated", "animate__rotateInDownLeft");
        });

        const elementmedanimation6 = document.querySelector("#scroll-down");
        inView(elementmedanimation6, () => {
          elementmedanimation6.classList.add("animate__animated", "animate__fadeInDown");
        });

        const elementmedanimation7 = document.querySelector(".main-section h3");
        inView(elementmedanimation7, () => {
          elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation8 = document.querySelector(".main-section p");
        inView(elementmedanimation8, () => {
          elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
        });

        const elementmedanimation9 = document.querySelector(".accordian-section h4");
        inView(elementmedanimation9, () => {
          elementmedanimation9.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation10 = document.querySelector("#accordian");
        inView(elementmedanimation10, () => {
          elementmedanimation10.classList.add("animate__animated", "animate__fadeInUp");
        });

        const elementmedanimation11 = document.querySelector(".breadcrumb");
        inView(elementmedanimation11, () => {
          elementmedanimation11.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const info = document.querySelectorAll("#info > div");
        info.forEach((el, index) => {
          inView(el, () => {
            el.classList.add("animate__animated", "animate__fadeInRight");
            el.style.animationDelay = `${index * 0.2}s`;
          });
        });
      }
    });
  </script>
</MainLayout>
