---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import "../styles/tailwind.css";
---

<MainLayout
  title="CP Danmark | Tilmeld dig"
  description="CP Danmarks 'Tilmeld dig'-side"
  ogtitle="CP Danmark – Landsforeningen for cerebral parese"
  ogdescription="Bli medlem af CP Danmark og få tilbud til at blive klogere omkring CP"
>
  <section
    id="hero"
    class="hero-section grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom w-full h-screen md:px-0 px-4 relative"
  >
    <div class="hero_image w-full h-full absolute inset-0 z-0">
      <img src="/images/signup_image.webp" alt="Hero-billede til CP Danmark's 'tilmeld'-side" class="w-full h-full object-cover brightness-[85%]" />
    </div>

    <div id="overlay1" class="absolute top-0 left-0 w-full h-full bg-gray-950 bg-opacity-[50%] z-0"></div>
    <div
      id="overlay2"
      class="absolute top-0 left-0 md:w-[50%] w-full h-full md:backdrop-blur-sm bg-opacity-75 bg-blue-800 z-0 md:rounded-r-full hidden md:block"
    >
    </div>

    <!-- Moved breadcrumb inside content container and above the title -->
    <div class="absolute inset-0 md:mt-12 mt-0 max-w-7xl mx-auto md:px-0 px-8 z-20 grid grid-cols-12 gap-6 content-center md:pb-24 pb-0 h-full">
      <div class="breadcrumb col-span-12">
        <a
          href="/"
          aria-label="Gå tilbage til forsiden"
          class="underline text-[#7dc1fc] hover:text-[#A4C8FE] focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out"
          >Forside</a
        >
        <span> / </span>
        <a
          href="/tilmeld"
          aria-label="Denne side er 'Tilmeld'"
          class="underline text-[#7dc1fc] hover:text-[#A4C8FE] focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out"
          >Bliv medlem</a
        >
      </div>

      <h1 id="hero-title" class="md:pb-6 pb-0 col-span-12 display">Bliv medlem</h1>
      <h2 id="hero-text" class="font-regular italic md:col-span-6 col-span-12 text-h4-mobile text-gray-50 max-w-3xl">
        Støt sagen og bliv en del af fællesskabet
      </h2>
    </div>

    <div id="scroll-down" class="absolute bottom-[3%] md:bottom-[2.5%] w-full flex justify-center z-[20]">
      <a href="#main-section" aria-label="Gå videre ned på siden" class="focus:outline-none focus:ring-2 focus:ring-blue-400">
        <div class="float flex flex-col items-center hover:opacity-80 transition duration-300 ease-in-out">
          <p class="text-[18px] text-gray-50 font-semibold">Gå videre ned på siden</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 sm:w-12 sm:h-12 text-gray-50"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div>
      </a>
    </div>
  </section>

  <section id="main-section" class="main-section grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom">
    <div class="col-start-2 col-span-10">
      <div>
        <div id="top-section">
          <h3 class="md:pb-6 pb-4">Vær med til at styrke fællesskabet</h3>
          <p class="md:pb-16 pb-12 max-w-4xl">
            Udfyld formularen herunder og bliv en del af CP Danmark&mdash; uanset om du selv har CP, er pårørende eller blot ønsker at støtte en
            vigtig sag.
          </p>
        </div>
        <!-- Radio buttons to choose support type -->
        <div id="support-type" class="bg-dust-100 border border-dust-300 p-4 md:w-[40%] rounded-[5px] flex flex-col md:mb-16 mb-12">
          <h4 class="text-h4-mobile pb-5">Hvilket medlemskab er der tale om?</h4>
          <label class="inline-flex items-center mb-2">
            <input type="radio" name="supportType" value="enkelt" id="radioEnkelt" class="mr-2" aria-label="Enkeltmedlemskab" checked />
            <span class="option-line">
              <span>Enkeltmedlemskab</span>
              <span class="text-gray-700 italic">(375,- om året)</span>
            </span>
          </label>

          <label class="inline-flex items-center mb-2">
            <input type="radio" name="supportType" value="fast" id="radioFast" class="mr-2" aria-label="Husstandsmedlemskab" />
            <span class="option-line">
              <span>Husstandsmedlemskab</span>
              <span class="text-gray-700 italic">(475,- om året)</span>
            </span>
          </label>

          <label class="inline-flex items-center mb-2">
            <input type="radio" name="supportType" value="support" id="radioSupport" class="mr-2" aria-label="Støttemedlem" />
            <span class="option-line">
              <span>Støttemedlem</span>
              <span class="text-gray-700 italic">(50,- om måneden)</span>
            </span>
          </label>

          <label class="inline-flex items-center mb-2">
            <input type="radio" name="supportType" value="life" id="radioLife" class="mr-2" aria-label="Livsvarigt medlem" />
            <span class="option-line">
              <span>Livsvarigt medlem</span>
              <span class="text-gray-700 italic">(5000,- én gang)</span>
            </span>
          </label>
        </div>

        <!-- Enkeltmedlemskab form -->
        <div id="enkeltForm">
          <div class="mb-4">
            <h4>Dine oplysninger</h4>
          </div>
          <label class="block mb-1 font-semibold">Fulde navn<span class="text-orange-600">*</span></label>
          <input
            id="name"
            name="name"
            type="text"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-12 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. Borris Jensen"
            aria-label="Fulde navn"
            required
          />

          <label class="block mb-1 font-semibold">Adresse<span class="text-orange-600">*</span></label>
          <input
            type="text"
            id="address"
            name="address"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. Guldbergsgade 29N"
            aria-label="Adresse"
            required
          />

          <label class="block mb-1 font-semibold">Telefon</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. 46 46 00 00"
            aria-label="Telefon"
          />

          <label class="block mb-1 font-semibold">Mobiltelefon</label>
          <input
            type="tel"
            id="mobile"
            name="mobile"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. 11 22 33 44"
            aria-label="Mobiltelefon"
          />

          <label class="block mb-1 font-semibold">Email<span class="text-orange-600">*</span></label>
          <input
            type="email"
            id="email"
            name="email"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. borris-jensen@gmail.com"
            aria-label="Email"
            required
          />

          <label class="block mb-1 font-semibold">Gentag email<span class="text-orange-600">*</span></label>
          <input
            type="email"
            id="email2"
            name="email2"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-12 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. borris-jensen@gmail.com"
            aria-label="Gentag email"
            required
          />

          <div class="mb-4">
            <label class="block mb-1 font-semibold">Jeg.. <span class="text-orange-600">*</span></label>
            <select
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400"
              aria-label="Kendskabsform"
              required
            >
              <option>-- Vælg kendskabsform --</option>
              <option>Har cerebral parese</option>
              <option>Er forældre</option>
              <option>Er anden pårørende</option>
              <option>Er søskende</option>
              <option>Er fagperson</option>
              <option>Er andet</option>
            </select>
          </div>

          <label class="block mb-1 font-semibold">Fødselsdato<span class="text-orange-600">*</span></label>
          <input
            type="date"
            id="birthdate"
            name="birthdate"
            class="p-2 md:w-[50%] w-full bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400 mb-12"
            aria-label="Fødseldato"
          />

          <div class="mb-4">
            <h4 class="text-h4-mobile mb-1">Betalingsservice</h4>
            <p class="italic pb-5 max-w-xl">
              Du skal være over 18 år for at tilmelde betaling af dit medlemskontingent til betalingsservice. Tilmeld dig ved at udfylde...
            </p>
            <label class="block mb-1 font-semibold">CPR-nummer<span class="text-orange-600">*</span></label>
            <input
              type="text"
              id="cpr"
              name="cpr"
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Indtast CPR-nummer"
              aria-label="CPR-nummer"
              required
            />

            <label class="block mb-1 font-semibold">Registreringsnummer<span class="text-orange-600">*</span></label>
            <input
              type="text"
              id="registration"
              name="registration"
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Indtast registreringsnummer"
              aria-label="Registreringsnummer"
              required
            />

            <label class="block mb-1 font-semibold">Kontonummer<span class="text-orange-600">*</span></label>
            <input
              type="text"
              id="account"
              name="account"
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Indtast kontonummer"
              aria-label="Kontonummer"
              required
            />
          </div>
          <div class="flex items-center mb-8">
            <input type="checkbox" class="w-[15px] p-2 border" aria-label="Accepter handelsbetingelser og privatlivspolitik" />
            <label class="block md:ml-2 ml-3 font-medium"
              >Jeg accepterer CP Danmarks <a
                href="https://www.cpdanmark.dk/om-os/handelsbetingelser/"
                target="_blank"
                class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 text-blue-700 hover:text-blue-600 transition duration-300 ease-in-out"
                >handelsbetingelser</a
              > og <a
                href="https://www.cpdanmark.dk/om-os/handelsbetingelser/"
                target="_blank"
                class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 text-blue-700 hover:text-blue-600 transition duration-300 ease-in-out"
                >privatlivspolitik</a
              >.</label
            >
          </div>
        </div>

        <!-- Husstandsmedlemskab form -->
        <div id="fastForm" class="hidden">
          <div class="mb-4">
            <h4>Dine oplysninger</h4>
          </div>
          <label class="block mb-1 font-semibold">Fulde navn<span class="text-orange-600">*</span></label>
          <input
            type="text"
            id="name"
            name="name"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-12 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. Borris Jensen"
            aria-label="Fulde navn"
            required
          />

          <label class="block mb-1 font-semibold">Adresse<span class="text-orange-600">*</span></label>
          <input
            type="text"
            id="address"
            name="address"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. Guldbergsgade 29N"
            aria-label="Adresse"
            required
          />

          <label class="block mb-1 font-semibold">Telefon</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. 46 46 00 00"
            aria-label="Telefon"
          />

          <label class="block mb-1 font-semibold">Mobiltelefon</label>
          <input
            type="tel"
            id="mobile"
            name="mobile"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. 11 22 33 44"
            aria-label="Mobiltelefon"
            required
          />

          <label class="block mb-1 font-semibold">Email<span class="text-orange-600">*</span></label>
          <input
            type="email"
            id="email"
            name="email"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. borris-jensen@gmail.com"
            aria-label="Email"
            required
          />

          <label class="block mb-1 font-semibold">Gentag email<span class="text-orange-600">*</span></label>
          <input
            type="email"
            id="email2"
            name="email2"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. borris-jensen@gmail.com"
            aria-label="Gentag email"
            required
          />

          <div class="mb-4">
            <label class="block mb-1 font-semibold">Jeg.. <span class="text-orange-600">*</span></label>
            <select
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400"
              aria-label="Kendskabsform"
              required
            >
              <option>-- Vælg kendskabsform --</option>
              <option>Har cerebral parese</option>
              <option>Er forældre</option>
              <option>Er anden pårørende</option>
              <option>Er søskende</option>
              <option>Er fagperson</option>
              <option>Er andet</option>
            </select>
          </div>

          <label class="block mb-1 font-semibold">Fødselsdato<span class="text-orange-600">*</span></label>
          <input
            type="date"
            id="birthdate"
            name="birthdate"
            class="p-2 md:w-[50%] w-full bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4"
            aria-label="Fødseldato"
          />

          <label class="block mb-1 font-semibold">Antal i husstanden <em>(udover dig selv)</em></label>
          <input
            type="text"
            id="household"
            name="household"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="Angiv hvor mange udover dig selv, der skal tilføjes i husstanden"
            aria-label="Antal i husstanden"
          />

          <div class="flex items-center mb-12">
            <input
              type="checkbox"
              class="w-[20px] p-2 border focus:outline-none focus:ring-2 focus:ring-blue-400"
              aria-label="Tilmeld til nyhedsbrev"
            />
            <label class="block md:ml-2 ml-3 font-medium">Tilmeld dig nyhedsbrev </label>
          </div>
          <div class="mb-3">
            <h4 class="text-h4-mobile mb-1">Betalingsservice</h4>
            <p class="italic pb-5 max-w-xl">
              Du skal være over 18 år for at tilmelde betaling af dit medlemskontingent til betalingsservice. Tilmeld dig ved at udfylde...
            </p>
            <label class="block mb-1 font-semibold">CPR-nummer<span class="text-orange-600">*</span></label>
            <input
              type="text"
              id="cpr"
              name="cpr"
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Indtast CPR-nummer"
              aria-label="CPR-nummer"
              required
            />

            <label class="block mb-1 font-semibold">Registreringsnummer<span class="text-orange-600">*</span></label>
            <input
              type="text"
              id="registration"
              name="registration"
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Indtast registreringsnummer"
              aria-label="Registreringsnummer"
              required
            />

            <label class="block mb-1 font-semibold">Kontonummer<span class="text-orange-600">*</span></label>
            <input
              type="text"
              id="account"
              name="account"
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Indtast kontonummer"
              aria-label="Kontonummer"
              required
            />
          </div>
          <div class="flex items-center mb-8">
            <input type="checkbox" class="w-[20px] p-2 border" aria-label="Jeg accepterer CP Danmarks handelsbetingelser og privatlivspolitik" />
            <label class="block md:ml-2 ml-3 font-medium"
              >Jeg accepterer CP Danmarks <a
                href="https://www.cpdanmark.dk/om-os/handelsbetingelser/"
                target="_blank"
                class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 text-blue-700 hover:text-blue-600 transition duration-300 ease-in-out"
                >handelsbetingelser</a
              > og <a
                href="https://www.cpdanmark.dk/om-os/handelsbetingelser/"
                target="_blank"
                class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 text-blue-700 hover:text-blue-600 transition duration-300 ease-in-out"
                >privatlivspolitik</a
              ></label
            >
          </div>
        </div>

        <div id="supportForm" class="hidden">
          <div class="mb-4">
            <h4>Dine oplysninger</h4>
          </div>
          <label class="block mb-1 font-semibold">Fulde navn<span class="text-orange-600">*</span></label>
          <input
            type="text"
            id="name"
            name="name"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-12 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. Borris Jensen"
            aria-label="Fulde navn"
            required
          />

          <label class="block mb-1 font-semibold">Adresse<span class="text-orange-600">*</span></label>
          <input
            type="text"
            id="address"
            name="address"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4"
            placeholder="F.eks. Guldbergsgade 29N"
            aria-label="Adresse"
            required
          />

          <label class="block mb-1 font-semibold">Telefon</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. 46 46 00 00"
            aria-label="Telefon"
          />

          <label class="block mb-1 font-semibold">Mobiltelefon</label>
          <input
            type="tel"
            id="mobile"
            name="mobile"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. 11 22 33 44"
            aria-label="Mobiltelefon"
            required
          />

          <label class="block mb-1 font-semibold">Email<span class="text-orange-600">*</span></label>
          <input
            type="email"
            id="email"
            name="email"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. borris-jensen@gmail.com"
            aria-label="Email"
            required
          />

          <label class="block mb-1 font-semibold">Gentag email<span class="text-orange-600">*</span></label>
          <input
            type="email"
            id="email2"
            name="email2"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. borris-jensen@gmail.com"
            aria-label="Gentag email"
            required
          />

          <div class="mb-4">
            <label class="block mb-1 font-semibold">Jeg.. <span class="text-orange-600">*</span></label>
            <select
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400"
              aria-label="Kendskabsform"
              required
            >
              <option>-- Vælg kendskabsform --</option>
              <option>Har cerebral parese</option>
              <option>Er forældre</option>
              <option>Er anden pårørende</option>
              <option>Er søskende</option>
              <option>Er fagperson</option>
              <option>Er andet</option>
            </select>
          </div>

          <label class="block mb-1 font-semibold">Fødselsdato<span class="text-orange-600">*</span></label>
          <input
            type="date"
            id="birthdate"
            name="birthdate"
            class="p-2 md:w-[50%] w-full bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4"
            aria-label="Fødseldato"
          />

          <label class="block mb-1 font-semibold">Antal i husstanden <em>(udover dig selv)</em></label>
          <input
            type="text"
            id="household"
            name="household"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="Angiv hvor mange udover dig selv, der skal tilføjes i husstanden"
            aria-label="Antal i husstanden"
          />

          <div class="flex items-center mb-12">
            <input
              type="checkbox"
              class="w-[20px] p-2 border focus:outline-none focus:ring-2 focus:ring-blue-400"
              aria-label="Tilmeld til nyhedsbrev"
            />
            <label class="block md:ml-2 ml-3 font-medium">Tilmeld dig nyhedsbrev </label>
          </div>

          <div class="mb-12">
            <h4 class="text-h4-mobile mb-1">Medlemstype</h4>
            <p class="italic pb-5">Som støttemedlem har du flere muligheder for valg af betaling...</p>
            <label class="block mb-1 font-semibold">Betalingsfrekvens</label>
            <select
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
              aria-label="Betalingsfrekvens"
            >
              <option>-- Vælg betalingsfrekvens --</option>
              <option>Månedlig</option>
              <option>Halvårlig</option>
              <option>Kvartalsvis</option>
              <option>Årlig</option>
            </select>

            <label class="block mb-1 font-semibold">Beløb (DKK)</label>
            <select
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400"
              aria-label="Vælg beløb"
            >
              <option>-- Vælg beløb --</option>
              <option>50 kr.</option>
              <option>100 kr.</option>
              <option>200 kr.</option>
              <option>300 kr.</option>
              <option>400 kr.</option>
              <option>500 kr.</option>
              <option>600 kr.</option>
              <option>700 kr.</option>
              <option>800 kr.</option>
              <option>900 kr.</option>
              <option>1000 kr.</option>
            </select>
          </div>

          <div class="mb-3">
            <h4 class="text-h4-mobile mb-1">Betalingsservice</h4>
            <p class="italic pb-5 max-w-xl">
              Du skal være over 18 år for at tilmelde betaling af dit medlemskontingent til betalingsservice. Tilmeld dig ved at udfylde...
            </p>
            <label class="block mb-1 font-semibold">CPR-nummer<span class="text-orange-600">*</span></label>
            <input
              type="text"
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Indtast CPR-nummer"
              aria-label="CPR-nummer"
              required
            />

            <label class="block mb-1 font-semibold">Registreringsnummer<span class="text-orange-600">*</span></label>
            <input
              type="text"
              id="registration"
              name="registration"
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Indtast registreringsnummer"
              aria-label="Registreringsnummer"
              required
            />

            <label class="block mb-1 font-semibold">Kontonummer<span class="text-orange-600">*</span></label>
            <input
              type="text"
              id="account"
              name="account"
              class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Indtast kontonummer"
              aria-label="Kontonummer"
              required
            />
          </div>
          <div class="flex items-center mb-8">
            <input type="checkbox" class="w-[20px] p-2 border" aria-label="Jeg accepterer CP Danmarks handelsbetingelser og privatlivspolitik" />
            <label class="block md:ml-2 ml-3 font-medium"
              >Jeg accepterer CP Danmarks <a
                href="https://www.cpdanmark.dk/om-os/handelsbetingelser/"
                target="_blank"
                class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 text-blue-700 hover:text-blue-600 transition duration-300 ease-in-out"
                >handelsbetingelser</a
              > og <a
                href="https://www.cpdanmark.dk/om-os/handelsbetingelser/"
                target="_blank"
                class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 text-blue-700 hover:text-blue-600 transition duration-300 ease-in-out"
                >privatlivspolitik</a
              ></label
            >
          </div>
        </div>

        <div id="lifeForm" class="hidden">
          <div class="mb-4">
            <h4>Dine oplysninger</h4>
          </div>
          <label class="block mb-1 font-semibold">Fulde navn<span class="text-orange-600">*</span></label>
          <input
            type="text"
            id="name"
            name="name"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-12 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. Borris Jensen"
            aria-label="Fulde navn"
            required
          />

          <label class="block mb-1 font-semibold">Adresse<span class="text-orange-600">*</span></label>
          <input
            type="text"
            id="address"
            name="address"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. Guldbergsgade 29N"
            aria-label="Adresse"
            required
          />

          <label class="block mb-1 font-semibold">Telefon</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. 46 46 00 00"
            aria-label="Telefon"
          />

          <label class="block mb-1 font-semibold">Mobiltelefon</label>
          <input
            type="tel"
            id="mobile"
            name="mobile"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. 11 22 33 44"
            aria-label="Mobiltelefon"
          />

          <label class="block mb-1 font-semibold">Email<span class="text-orange-600">*</span></label>
          <input
            type="email"
            id="email"
            name="email"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. borris-jensen@gmail.com"
            aria-label="Email"
            required
          />

          <label class="block mb-1 font-semibold">Gentag email<span class="text-orange-600">*</span></label>
          <input
            type="email"
            id="email2"
            name="email2"
            class="md:w-[50%] w-full p-2 bg-dust-100 border-dust-300 rounded-[5px] mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="F.eks. borris-jensen@gmail.com"
            aria-label="Gentag email"
            required
          />
          <div class="flex items-center">
            <input type="checkbox" class="w-[20px] p-2 border" aria-label="Tilmeld til nyhedsbrev" />
            <label class="block ml-2 font-medium">Tilmeld til nyhedsbrev</label>
          </div>
          <div class="flex items-center mb-8">
            <input type="checkbox" class="w-[20px] p-2 border" aria-label="Jeg accepterer CP Danmarks handelsbetingelser og privatlivspolitik" />
            <label class="block md:ml-2 ml-3 font-medium"
              >Jeg accepterer CP Danmarks <a
                href="https://www.cpdanmark.dk/om-os/handelsbetingelser/"
                target="_blank"
                class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 text-blue-700 hover:text-blue-600 transition duration-300 ease-in-out"
                >handelsbetingelser</a
              > og <a
                href="https://www.cpdanmark.dk/om-os/handelsbetingelser/"
                target="_blank"
                class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 text-blue-700 hover:text-blue-600 transition duration-300 ease-in-out"
                >privatlivspolitik</a
              ></label
            >
          </div>
        </div>

        <a href="#" aria-label="Placeholder-link (ingen funktionalitet)" class="w-[50%] focus:outline-none focus:ring-2 focus:ring-blue-400"
          ><Button variant="primary" size="small">Tilmeld</Button></a
        >
      </div>
    </div>
  </section>

  <section id="benefits" class="info-section grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom">
    <div class="col-start-2 col-span-10">
      <h4 class="md:text-h3-desktop text-h3-mobile md:pb-12 pb-8">Fordele ved at være medlem</h4>
    </div>
    <div id="benefits-section1" class="grid md:grid-cols-2 col-start-2 col-span-10">
      <!-- Text and button section -->
      <div>
        <h4 class="md:pb-6 pb-4">Viden og rådgivning når du har brug for det</h4>
        <p class="md:pb-8 pb-0">
          Som medlem af CP Danmark får du adgang til specialiseret viden og rådgivning, der tager udgangspunkt i livet med cerebral parese— uanset om
          du selv har CP, er forælder, pårørende eller fagperson. Du får mulighed for at stille spørgsmål, få vejledning i konkrete situationer og
          holde dig opdateret på den nyeste viden og forskning.
        </p>
      </div>

      <!-- Image section -->
      <div class="flex justify-end md:pt-0 pt-6">
        <img src="/images/signup_section1.webp" alt="Første billede til fordele-sektion" class="w-[550px] h-[350px] object-cover" />
      </div>
    </div>
    <div id="benefits-section2" class="grid md:grid-cols-2 col-start-2 col-span-10 md:pt-24 pt-20">
      <!-- Image section -->
      <div class="flex justify-start">
        <img src="/images/signup_section2.webp" alt="Andet billede til fordele-sektion" class="w-[550px] h-[350px] object-cover" />
      </div>
      <!-- Text and button section -->
      <div>
        <h4 class="md:pb-6 pb-4 md:pt-0 pt-6">Fællesskab, aktiviteter og indflydelse</h4>
        <p class="pb-8">
          Når du melder dig ind, vil du blive en del af et fællesskab med plads til alle— både børn, unge og voksne. Du får mulighed for at deltage i
          sociale og faglige arrangementer, udveksle erfaringer med andre i samme situation og engagere dig i vores lokale kredse, hvor du kan få
          medindflydelse og være med til at gøre en forskel.
        </p>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  /* Floating Animation */
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }

  .float {
    animation: float 3s ease-in-out infinite;
  }

  .breadcrumb a {
    color: #7dc1fc;
  }

  .breadcrumb a:hover {
    color: #a4c8fe;
  }

  .breadcrumb span {
    color: #f6f6f6;
  }

  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #7dc1fc;
  }

  .option-line {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }

  .option-line span:first-child {
    position: relative;
    padding-right: 0.5rem;
    white-space: nowrap;
  }

  .option-line span:first-child::after {
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 100%;
    right: 0;
    transform: translateY(-50%);
    margin-left: 0.5rem;
  }

  .option-line span:last-child {
    white-space: nowrap;
    margin-left: auto;
  }

  /* Dark Mode */
  body.dark .option-line span:first-child::after {
    color: #b3b3b3;
  }

  body.dark .option-line span {
    color: #f6f6f6;
  }

  body.dark h2,
  body.dark h3,
  body.dark h4,
  body.dark p {
    color: #f6f6f6;
  }

  body.dark input,
  body.dark select,
  body.dark textarea,
  body.dark option {
    background-color: #4f4f4f;
    border: #7d7d7d 1px solid;
  }

  body.dark a {
    color: #7dc1fc;
  }

  body.dark a:hover {
    color: #a4c8fe;
  }

  body.dark span {
    color: #ff4545;
  }

  body.dark .fast,
  body.dark .enkelt {
    color: #f6f6f6;
  }

  body.dark input::placeholder,
  body.dark select::placeholder,
  body.dark textarea::placeholder,
  body.dark option::placeholder {
    color: #b3b3b3;
  }

  body.dark #support-type {
    background-color: #4f4f4f;
    border: #7d7d7d 1px solid;
  }
</style>
<script>
  const radioButtons = document.querySelectorAll('input[name="supportType"]');
  const formSections = {
    enkelt: document.getElementById("enkeltForm"),
    fast: document.getElementById("fastForm"),
    support: document.getElementById("supportForm"),
    life: document.getElementById("lifeForm"),
  };

  radioButtons.forEach((radio) => {
    radio.addEventListener("change", () => {
      const selected = radio.value;

      // Hide all form sections
      Object.values(formSections).forEach((form) => {
        form.classList.add("hidden");
      });

      // Show the selected form section
      if (formSections[selected]) {
        formSections[selected].classList.remove("hidden");
      }
    });
  });

  const email = document.getElementById("email");
  const email2 = document.getElementById("email2");

  email2.addEventListener("input", () => {
    if (email.value !== email2.value) {
      email2.setCustomValidity("Emailadresserne matcher ikke.");
    } else {
      email2.setCustomValidity("");
    }
  });

  // inView-animations

  import { inView } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector("#hero h1");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation2 = document.querySelector("#hero h2");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation3 = document.querySelector(".breadcrumb");
      inView(elementmedanimation3, () => {
        elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation4 = document.querySelector("#top-section h3");
      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation5 = document.querySelector("#top-section p");
      inView(elementmedanimation5, () => {
        elementmedanimation5.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation5a = document.querySelector("#support-type");
      inView(elementmedanimation5a, () => {
        elementmedanimation5a.classList.add("animate__animated", "animate__slideInLeft");
      });

      const elementmedanimation6 = document.querySelector("#enkeltForm");
      inView(elementmedanimation6, () => {
        elementmedanimation6.classList.add("animate__animated", "animate__fadeInUp");
      });

      const elementmedanimation7 = document.querySelector("#fastForm");
      inView(elementmedanimation7, () => {
        elementmedanimation7.classList.add("animate__animated", "animate__fadeInUp");
      });

      const elementmedanimation8 = document.querySelector("#supportForm");
      inView(elementmedanimation8, () => {
        elementmedanimation8.classList.add("animate__animated", "animate__fadeInUp");
      });

      const elementmedanimation9 = document.querySelector("#lifeForm");
      inView(elementmedanimation9, () => {
        elementmedanimation9.classList.add("animate__animated", "animate__fadeInUp");
      });

      const elementmedanimation10 = document.querySelector("#benefits h4");
      inView(elementmedanimation10, () => {
        elementmedanimation10.classList.add("animate__animated", "animate__fadeInLeft");
      });

      // Delay animations
      const benefits1 = document.querySelectorAll("#benefits-section1 > div");
      benefits1.forEach((el, index) => {
        inView(el, () => {
          el.classList.add("animate__animated", "animate__fadeInRight");
          el.style.animationDelay = `${index * 0.2}s`;
        });
      });

      const benefits2 = document.querySelectorAll("#benefits-section2 > div");
      benefits2.forEach((el, index) => {
        inView(el, () => {
          el.classList.add("animate__animated", "animate__fadeInLeft");
          el.style.animationDelay = `${index * 0.2}s`;
        });
      });
    }
  });
</script>
