---
const { variant = "primary", size = "medium" } = Astro.props;

const buttonStyling = "px-6 p-2 font-semibold transition duration-300 uppercase";

const variantClasses = {
  primary: "bg-transparent border-2 border-gray-950 text-gray-950 hover:bg-blue-700 hover:text-gray-50 hover:border-blue-700",
  secondary: "bg-sand-600 hover:bg-sand-700 text-gray-50",
  tertiary: "bg-orange-500 hover:bg-orange-700 text-gray-50",
};

const sizeClasses = {
  large: "text-3xl",
  medium: "text-2xl",
  small: "text-lg",
};
---

<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot button /></button>
