---
const { variant = "primary", size = "medium" } = Astro.props;

const buttonStyling = "px-6 p-2 font-semibold transition duration-300 uppercase";

const variantClasses = {
  primary:
    "main-button bg-blue-600 border-2 border-blue-600 text-gray-50 hover:bg-blue-500 hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400",
  secondary:
    "secondary-button bg-orange-600 hover:bg-orange-700 text-gray-50 border-2 border-orange-600 hover:border-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-400",
};

const sizeClasses = {
  large: "text-3xl",
  medium: "text-2xl",
  small: "text-lg",
};
---

<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot button /></button>

<style>
  .main-button {
    background-color: #034f9a;
    border: #034f9a 2px solid;
    color: #f6f6f6;
    transition: 0.6s;
  }

  .main-button:hover {
    background-color: #0268c7;
    border: #0268c7 2px solid;
    cursor: pointer;
  }

  .secondary-button {
    background-color: #ad4e32;
    border: #ad4e32 2px solid;
    color: #f6f6f6;
    transition: 0.6s;
  }

  .secondary-button:hover {
    background-color: #903a2d;
    border: #903a2d 2px solid;
    cursor: pointer;
  }

  /* Dark Mode */
  body.dark .main-button {
    background-color: #0e86e9;
    border: #0e86e9 2px solid;
    color: #f6f6f6;
    transition: 0.6s;
  }

  body.dark .main-button:hover {
    background-color: #4e94fd;
    border: #4e94fd 2px solid;
    cursor: pointer;
  }

  body.dark .secondary-button {
    background-color: #be6439;
    border: #be6439 2px solid;
    color: #f6f6f6;
    transition: 0.6s;
  }

  body.dark .secondary-button:hover {
    background-color: #ce8551;
    border: #ce8551 2px solid;
    cursor: pointer;
  }
</style>
