---

---

<!-- Footer til mobil format -->
<footer class="bg-gray-950">
  <section class="max-w-7xl mx-auto md:p-0 md:py-8 p-8">
    <div class="grid md:grid-cols-3 grid-cols-1 gap-gap">
      <div class="info1">
        <a href="/" aria-label="Gå til forsiden">
          <img
            class="object-contain h-24 pb-6 transition duration-300 ease-in-out hover:opacity-70"
            src="/images/logo_hvid.webp"
            alt="Logo for CP Danmark i hvidt"
          />
        </a>
        <!-- Adresse -->
        <div class="space-y-1 max-w-xs">
          <ul>
            <li class="pb-2 text-gray-50 font-semibold">CP Danmark - Landsforeningen for cerebral parese</li>
            <li class="text-gray-50">Blekinge Boulevard 2</li>
            <li class="text-gray-50">2630 Taastrup</li>
            <li class="text-gray-50">CVR: 20 24 88 15</li>
          </ul>
        </div>

        <!-- Åbningstider -->
        <div class="flex flex-col pt-6 md:pb-0 pb-8">
          <p>
            <span class="font-semibold text-gray-50">Åbningstider:</span>
            <ul>
              <li class="text-gray-50">Mandag: 10:30-12:00 & 13:00-14:00</li>
              <li class="text-gray-50">Tirsdag-fredag: 10:30-12:00 & 13:00-14:00</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="info2">
        <!-- Sociale medier -->
        <div class="md:pb-8 pb-6">
          <div>
            <!-- Title moved out of flex -->
            <h1 class="text-h4-mobile text-gray-50 mb-4">Følg os på de sociale medier</h1>
            <div class="flex justify-start gap-7 items-center">
              <div class="w-12 flex-shrink-0 group relative">
                <a
                  href="http://www.facebook.dk/cpdanmark.dk"
                  aria-label="Gå til CP Danmarks Facebook-side (eksternt link)"
                  target="_blank"
                  class="block w-full hover:-translate-y-[3px] transition duration-300 ease-in-out"
                >
                  <!-- Default icon -->
                  <img
                    class="w-full absolute top-0 left-0 transition duration-300 ease-in-out group-hover:opacity-0"
                    src="/images/facebook.svg"
                    alt="Facebook-ikon"
                  />
                  <!-- Colored icon -->
                  <img
                    class="w-full opacity-0 transition duration-300 ease-in-out group-hover:opacity-100"
                    src="/images/facebook_blaa.svg"
                    alt="Facebook-ikon (hover)"
                  />
                </a>
              </div>

              <div class="w-12 flex-shrink-0 group relative">
                <a
                  href="https://www.instagram.com/cpdanmark"
                  aria-label="Gå til CP Danmarks Instagram-konto (eksternt link)"
                  target="_blank"
                  class="block w-full hover:-translate-y-[3px] transition duration-300 ease-in-out"
                >
                  <img
                    class="w-full absolute top-0 left-0 transition duration-300 ease-in-out group-hover:opacity-0"
                    src="/images/instagram.svg"
                    alt="Instagram-ikon"
                  />
                  <img
                    class="w-full opacity-0 transition duration-300 ease-in-out group-hover:opacity-100"
                    src="/images/instagram_blaa.svg"
                    alt="Instagram-ikon (hover)"
                  />
                </a>
              </div>
              <div class="w-12 flex-shrink-0 group relative">
                <a
                  href="https://www.linkedin.com/company/cp-danmark-landsforeningen-for-cerebral-parese/"
                  aria-label="Gå til CP Danmarks LinkedIn-profil (eksternt link)"
                  class="block w-full hover:-translate-y-[3px] transition duration-300 ease-in-out"
                >
                  <img
                    class="w-full absolute top-0 left-0 transition duration-300 ease-in-out group-hover:opacity-0"
                    src="/images/linkedin.svg"
                    alt="LinkedIn-ikon"
                  />
                  <img
                    class="w-full opacity-0 transition duration-300 ease-in-out group-hover:opacity-100"
                    src="/images/linkedin_blaa.svg"
                    alt="LinkedIn-ikon (hover)"
                  />
                </a>
              </div>
              <div class="w-12 flex-shrink-0 group relative">
                <a
                  href="https://www.youtube.com/channel/UCN2nN9axOe-Z_RiMT_H4_yg/ (eksternt link)"
                  aria-label="Gå til CP Danmarks YouTube-kanal"
                  class="block w-full hover:-translate-y-[3px] transition duration-300 ease-in-out"
                >
                  <img
                    class="w-full absolute top-0 left-0 transition duration-300 ease-in-out group-hover:opacity-0"
                    src="/images/youtube.svg"
                    alt="YouTube-ikon"
                  />
                  <img
                    class="w-full opacity-0 transition duration-300 ease-in-out group-hover:opacity-100"
                    src="/images/youtube_blaa.svg"
                    alt="YouTube-ikon (hover)"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Kontakt-oplysninger -->
        <div class="flex flex-col md:pb-0 pb-8 md:pt-0 pt-8">
          <span class="font-semibold text-gray-50">Telefon: </span>
          <a
            href="tel:38 88 45 75"
            target="_blank"
            aria-label="Ring til 38 88 45 75"
            class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 hover:text-blue-500 transition duration-300 ease-in-out pb-4 text-gray-50"
            >+45 38 88 45 75</a
          >
          <p class="font-semibold text-gray-50">Mail:</p>
          <a
            href="mailto:cpdanmark@cpdanmark.dk"
            target="_blank"
            aria-label="Send mail til cpdanmark@cpdanmark.dk"
            class="underline focus:outline-none focus:ring-2 focus:ring-blue-400 hover:text-blue-500 transition duration-300 ease-in-out text-gray-50"
          >
            cpdanmark@cpdanmark.dk
          </a>
        </div>
      </div>

      <div class="bank-newsletter">
        <!-- Nyhedsbrev -->
        <div id="newsletter">
          <h1 class="text-h4-mobile text-gray-50 pb-2">Tilmeld dig vores nyhedsbrev</h1>
          <p class="pb-5 text-gray-50">Hold dig opdateret og få seneste nyt om livet med CP, info om vores aktiviteter og kurser, og meget andet.</p>
          <form action="#" class="md:pb-0 pb-8">
            <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
              <label class="font-bold">Email</label>
              <div class="relative w-full">
                <input
                  class="block
                  p-3
                  pl-24
                  pr-3
                  w-full
                  text-[1rem]
                  text-gray-400
                  bg-gray-50
                  placeholder-gray-400"
                  placeholder="Skriv din mail her"
                  type="email"
                  id="email"
                  required
                />
                <div class="absolute inset-y-0 left-0 flex items-center justify-start">
                  <button
                    type="submit"
                    class="py-3 px-5 text-center cursor-pointer -ml-px font-semibold border border-blue-600 bg-blue-600 hover:bg-blue-500 hover:border-blue-500 transition duration-300 ease-in-out text-gray-50 text-[1rem]"
                    >SEND</button
                  >
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Bank-info -->
        <div class="flex flex-col md:pb-0 pb-8 md:pt-4 pt-0">
          <span class="font-semibold text-gray-50">Bank: </span>
          <p class="text-gray-50 pb-4">Nordea – reg. nr. 2191 | kontonr. 0128390022</p>
          <span class="font-semibold text-gray-50">MobilePay: </span>
          <a
            href="https://www.mobilepay.dk/erhverv/betalingslink/betalingslink-svar?phone=90866"
            target="_blank"
            aria-label="Gå til MobilePay-betalingsside (eksternt link)"
            class="text-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-400 underline hover:text-blue-500 transition duration-300 ease-in-out"
            >90866</a
          >
        </div>
      </div>
      <div class="copyright_protector gap-4 flex flex-col">
        <div>
          <hr class="w-[20%] pb-4 border-gray-50 opacity-50" />
          <p class="text-gray-50 pb-4"><span class="text-gray-50 font-semibold">Protektor: </span> H.K.H. Prinsesse Benedikte</p>
        </div>
        <div class="flex-col">
          <p class="text-gray-50 opacity-50 text-[14px]">2025 © CP Danmark – Landsforeningen for cerebral parese</p>
          <p class="text-gray-50">
            <a
              href="https://www.cpdanmark.dk/om-os/privatlivspolitik/"
              aria-label="Gå til CP Danmarks Privatlivspolitik (eksternt link)"
              target="_blank"
              class="text-[14px] underline text-blue-300 hover:text-blue-400 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
              >Privatlivspolitik
            </a><span class="opacity-50">|</span><a
              href="https://www.cpdanmark.dk/om-os/cookiepolitik/"
              aria-label="Gå til CP Danmarks Cookiepolitik (eksternt link)"
              target="_blank"
              class="text-[14px] underline text-blue-300 hover:text-blue-400 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
            >
              Cookiepolitik</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
