---
import Button from "../components/Button.astro";
---

<!-- Accessibility settings bar -->
<div id="accessibility-bar" class="fixed w-full bg-gray-950 text-gray-50 flex items-center h-9 p-4 z-50">
  <!-- Gear Icon -->
  <button
    id="accessibilityToggle"
    class="svg-gear focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out"
    aria-label="See accessibility-settings"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="size-6 hover:text-blue-500 transition duration-300 ease-in-out"
    >
      <path
        fill-rule="evenodd"
        d="M11.078 2.25c-.917 0-1.699.663-1.85 1.567L9.05 4.889c-.02.12-.115.26-.297.348a7.493 7.493 0 0 0-.986.57c-.166.115-.334.126-.45.083L6.3 5.508a1.875 1.875 0 0 0-2.282.819l-.922 1.597a1.875 1.875 0 0 0 .432 2.385l.84.692c.095.078.17.229.154.43a7.598 7.598 0 0 0 0 1.139c.015.2-.059.352-.153.43l-.841.692a1.875 1.875 0 0 0-.432 2.385l.922 1.597a1.875 1.875 0 0 0 2.282.818l1.019-.382c.115-.043.283-.031.45.082.312.214.641.405.985.57.182.088.277.228.297.35l.178 1.071c.151.904.933 1.567 1.85 1.567h1.844c.916 0 1.699-.663 1.85-1.567l.178-1.072c.02-.12.114-.26.297-.349.344-.165.673-.356.985-.57.167-.114.335-.125.45-.082l1.02.382a1.875 1.875 0 0 0 2.28-.819l.923-1.597a1.875 1.875 0 0 0-.432-2.385l-.84-.692c-.095-.078-.17-.229-.154-.43a7.614 7.614 0 0 0 0-1.139c-.016-.2.059-.352.153-.43l.84-.692c.708-.582.891-1.59.433-2.385l-.922-1.597a1.875 1.875 0 0 0-2.282-.818l-1.02.382c-.114.043-.282.031-.449-.083a7.49 7.49 0 0 0-.985-.57c-.183-.087-.277-.227-.297-.348l-.179-1.072a1.875 1.875 0 0 0-1.85-1.567h-1.843ZM12 15.75a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5Z"
        clip-rule="evenodd"></path>
    </svg>
  </button>

  <!-- Accessibility Options -->
  <div id="accessibilityOptions" class="ml-4 flex gap-6 items-center transition-all duration-300 origin-left scale-x-0 opacity-0">
    <!-- Dark Mode Toggle -->
    <div class="flex items-center gap-2">
      <span id="darkModeToggleLabel" class="md:block hidden text-gray-50">Mørk tilstand</span>
      <button id="darkModeToggle" aria-pressed="false" class="toggle-switch" aria-label="Skift til mørk tilstand">
        <span class="toggle-circle"></span>
      </button>
    </div>

    <!-- Reduce Motion Toggle -->
    <div class="flex items-center gap-2">
      <span id="motionToggleLabel" class="md:block hidden text-gray-50">Fjern animationer</span>
      <button id="motionToggle" aria-pressed="false" class="toggle-switch" aria-label="Fjern animationer">
        <span class="toggle-circle"></span>
      </button>
    </div>
  </div>
</div>

<div id="header" x-data="{ showmenu: false }" class="gap-4 z-[30] p-4 fixed w-full bg-gray-50 shadow-drop25 pt-[60px] px-4 py-6">
  <div id="navbar" class="flex flex-row gap-6 justify-between max-w-7xl mx-auto pr-4 pl-4">
    <div class="content-center">
      <a href="/" aria-label="Gå til forsiden">
        <img
          src="/images/logo_blaa.webp"
          alt="Logo for CP Danmark i blåt"
          class="h-11 hover:opacity-50 transition duration-300 ease-in-out logo-light"
        />
        <img
          src="/images/logo_hvid.webp"
          alt="Logo for CP Danmark i hvidt"
          class="h-11 hover:opacity-50 transition duration-300 ease-in-out logo-dark"
        />
      </a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block content-center">
      <ul class="flex flex-row content-center gap-4">
        <!-- CP & os Dropdown -->
        <li class="relative" x-data="{ showDropdown1: false }" x-cloak @mouseenter="showDropdown1 = true" @mouseleave="showDropdown1 = false">
          <a
            href="/cp_os"
            class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 py-1 flex items-center"
            aria-label="Gå til 'CP & os'"
          >
            CP & os
            <svg
              class="w-4 h-4 ml-2 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-transform duration-300 transform"
              :class="{ 'rotate-180': showDropdown1 }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
            </svg>
          </a>
          <div
            x-show="showDropdown1"
            x-transition
            class="dropdown1 absolute left-0 mt-2 w-[165px] bg-gray-50 shadow-drop25 border border-gray-400 z-10"
          >
            <ul>
              <li class="py-1 px-4">
                <a
                  href="/hvad_er_cp"
                  aria-label="Gå til 'Hvad er CP?'"
                  class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
                  >Hvad er CP?</a
                >
              </li>
              <li class="py-1 px-4">
                <a
                  href="/fortaellinger"
                  aria-label="Gå til 'Fortællinger'"
                  class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
                  >Fortællinger</a
                >
              </li>
              <li class="py-1 px-4">
                <a
                  href="/cp_ung"
                  aria-label="Gå til 'CP Ung'"
                  class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
                  >CP Ung</a
                >
              </li>
              <li class="py-1 px-4">
                <a
                  href="/nyheder"
                  aria-label="Gå til 'Nyheder'"
                  class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
                  >Nyheder</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="relative" x-data="{ showDropdown2: false }" x-cloak @mouseenter="showDropdown2 = true" @mouseleave="showDropdown2 = false">
          <a
            href="#"
            class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 py-1 flex items-center"
            aria-label="Menupunkt for 'Bliv klogere' (menu-link med ingen funktion)"
          >
            Bliv klogere
            <svg
              class="w-4 h-4 ml-2 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-transform duration-300 transform"
              :class="{ 'rotate-180': showDropdown2 }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
            </svg>
          </a>
          <div
            x-show="showDropdown2"
            x-transition
            class="dropdown2 absolute left-0 mt-2 w-[200px] bg-gray-50 shadow-drop25 border border-gray-400 z-10"
          >
            <ul>
              <li class="py-1 px-4">
                <a
                  href="/raadgivning"
                  aria-label="Gå til 'Rådgivning'"
                  class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
                  >Rådgivning</a
                >
              </li>
              <li class="py-1 px-4">
                <a
                  href="/materialer"
                  aria-label="Gå til 'Materialer'"
                  class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
                  >Materialer</a
                >
              </li>
              <li class="py-1 px-4">
                <a
                  href="/kurser_aktiviteter"
                  aria-label="Gå til 'Kurser & aktiviteter'"
                  class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
                  >Kurser & aktiviteter</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
            href="/tilmeld"
            aria-label="Gå til Gå til 'Tilmeld'"
            class="relative flex items-center focus:outline-none focus:ring-2 focus:ring-blue-400 hover:text-blue-700 hover:underline py-1 transition duration-300 ease-in-out"
            >Bliv medlem</a
          >
        </li>
        <li>
          <a
            href="/gode_raad"
            aria-label="Gå til Gå til 'Gode råd'"
            class="relative flex items-center focus:outline-none focus:ring-2 focus:ring-blue-400 hover:text-blue-700 hover:underline py-1 transition duration-300 ease-in-out"
            >Gode råd</a
          >
        </li>
      </ul>
    </nav>
    <div class="ml-auto hidden md:block">
      <a href="/stoet" aria-label="Gå til 'Støt os'">
        <Button variant="primary" size="small">Støt os</Button>
      </a>
    </div>
    <button id="burgermenu" class="lg:hidden z-50" x-on:click="showmenu = !showmenu" aria-label="Åbn og luk burgermenu">
      <template x-if="showmenu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-9 focus:outline-none focus:ring-2 focus:ring-blue-400 hover:text-blue-700 transition duration-300"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </template>
      <template x-if="!showmenu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-9 focus:outline-none focus:ring-2 focus:ring-blue-400 hover:text-blue-700 transition duration-300"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
        </svg>
      </template>
    </button>
  </div>
  <nav
    id="mobilmenu"
    class="flex flex-col content-center pt-4"
    aria-label="Menu til mobil"
    x-show="showmenu"
    x-transition
    x-cloak
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul class="mx-auto py-4 text-gray-950">
      <h4 class="text-center font-bold">Viden & information</h4>
      <li class="text-center py-2 border-b">
        <a
          href="/cp_os"
          aria-label="Gå til 'CP & os'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >CP & os</a
        >
      </li>
      <li class="text-center py-2 border-b">
        <a
          href="/hvad_er_cp"
          aria-label="Gå til 'Hvad er CP?'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >Hvad er CP?</a
        >
      </li>
      <li class="text-center py-2 border-b">
        <a
          href="/fortaellinger"
          aria-label="Gå til 'Fortællinger'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >Fortællinger</a
        >
      </li>
      <li class="text-center py-2 border-b">
        <a
          href="/cp_ung"
          aria-label="Gå til 'CP Ung'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >CP Ung</a
        >
      </li>
      <li class="text-center py-2 border-b">
        <a
          href="/nyheder"
          aria-label="Gå til 'Nyheder'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >Nyheder</a
        >
      </li>
    </ul>
    <ul class="mx-auto py-4 text-gray-950">
      <h4 class="text-center font-bold">Medlemskab</h4>
      <li class="text-center py-2 border-b">
        <a
          href="/tilmeld"
          aria-label="Gå til 'Tilmeld'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >Bliv medlem</a
        >
      </li>
      <li class="text-center py-2">
        <a
          href="/stoet"
          aria-label="Gå til 'Støt os'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >Støt os</a
        >
      </li>
    </ul>
    <ul class="mx-auto py-4 text-gray-950">
      <h4 class="text-center font-bold">Bliv klogere</h4>
      <li class="text-center py-2 border-b">
        <a
          href="/raadgivning"
          aria-label="Gå til 'Rådgivning'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >Rådgivning</a
        >
      </li>
      <li class="text-center py-2 border-b">
        <a
          href="/materialer"
          aria-label="Gå til 'Materialer'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >Materialer</a
        >
      </li>
      <li class="text-center py-2 border-b">
        <a
          href="/kurser_aktiviteter"
          aria-label="Gå til 'Kurser & aktiviteter'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >Kurser & aktiviteter</a
        >
      </li>
    </ul>
    <ul class="mx-auto py-4 text-gray-950">
      <h4 class="text-center font-bold">Andet</h4>
      <li class="text-center py-2">
        <a
          href="/gode_raad"
          aria-label="Gå til 'Gode råd'"
          class="hover:underline hover:text-blue-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400"
          >Gode råd</a
        >
      </li>
    </ul>
  </nav>
</div>

<style>
  [x-cloak] {
    display: none !important;
  }

  /* Dark Mode */
  body.dark #header {
    background-color: #333333;
  }
  body.dark #accessibility-bar {
    background-color: #222222;
  }
  body.dark #header .dropdown1,
  body.dark #header .dropdown2 {
    background-color: #454545;
    color: #f6f6f6;
    border-color: #6d6d6d;
  }

  /* Button styles for dark mode */
  body.dark .toggle-switch {
    background-color: #666;
  }
  body.dark .toggle-circle {
    background-color: #fff;
  }

  body.dark #header a:hover {
    color: #a4c8fe;
    animation-duration: 0.6s;
    text-decoration: underline;
    animation: ease-in-out;
  }

  body.dark #mobilmenu a,
  body.dark #mobilmenu h4 {
    color: #f6f6f6;
  }

  body.dark #mobilmenu a:hover {
    color: #a4c8fe;
  }

  /* Text Size Mode */
  body.text-large {
    font-size: 1.12rem;
    font-family: "Open Sans", sans-serif;
  }

  /* Reduce Motion Mode */
  body.reduce-motion * {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
  }

  body {
    transition:
      font-size 0.3s ease,
      background-color 0.3s ease,
      color 0.3s ease;
  }

  /* Logo */
  /* Light mode logo */
  .logo-dark {
    display: none;
  }

  /* Dark mode logo */
  body.dark .logo-light {
    display: none;
  }

  body.dark .logo-dark {
    display: block;
  }
</style>

<script>
  // Utility function to initialize toggle
  function initToggle(toggleId, className, storageKey) {
    const toggleButton = document.getElementById(toggleId);
    const savedState = localStorage.getItem(storageKey) === "true";

    // Apply saved state
    if (savedState) {
      document.body.classList.add(className);
      toggleButton.setAttribute("aria-pressed", "true");
    } else {
      toggleButton.setAttribute("aria-pressed", "false");
    }

    // Set up click handler
    toggleButton.addEventListener("click", () => {
      const isPressed = toggleButton.getAttribute("aria-pressed") === "true";
      const newState = !isPressed;

      toggleButton.setAttribute("aria-pressed", String(newState));
      document.body.classList.toggle(className, newState);
      localStorage.setItem(storageKey, String(newState));
    });
  }

  // Initialize each toggle
  initToggle("motionToggle", "reduce-motion", "motionReductionEnabled");
  initToggle("darkModeToggle", "dark", "darkModeEnabled");

  // Accessibility-toggle
  const toggleButton = document.getElementById("accessibilityToggle");
  const options = document.getElementById("accessibilityOptions");

  // Function to show or hide the options based on state
  function setToggleState(isOpen) {
    if (isOpen) {
      options.classList.remove("scale-x-0", "opacity-0");
      options.classList.add("scale-x-100", "opacity-100");
    } else {
      options.classList.remove("scale-x-100", "opacity-100");
      options.classList.add("scale-x-0", "opacity-0");
    }
  }

  // Load saved state from localStorage
  let isOpen = localStorage.getItem("accessibilityOpen") === "true";
  setToggleState(isOpen);

  // On click: toggle state, update localStorage and UI
  toggleButton.addEventListener("click", () => {
    isOpen = !isOpen;
    localStorage.setItem("accessibilityOpen", isOpen);
    setToggleState(isOpen);
  });
</script>
