---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "textlink", size = "standard" } = Astro.props;

const linkStyling = "transition transform hover:-translate-y-1";

const variantClasses = {
  textlink: "underline",
  primary: "bg-blue-700 hover:bg-blue-500 text-gray-50",
};

const sizeClasses = {
  regular: "text-base",
  lg: "text-3xl",
  md: "text-2xl",
  sm: "text-lg",
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot a /></a>
