---
import Button from "./Button.astro";
---

<div class="news-card bg-gray-100 rounded-[5px] shadow-drop25">
  <div class="news-card_image">
    <img src="/images/news_image1.webp" alt="Placeholder image" class="w-full h-full object-cover rounded-t-[5px]" />
  </div>
  <div class="news-card_content p-5">
    <p id="date" class="text-gray-400 pb-2">Dato</p>
    <h3 class="md:text-h4-desktop text-h4-mobile font-bold pb-2">Nyhedsoverskrift</h3>
    <p class="pb-8">Nyhedsbeskrivelse</p>
    <a href="/nyheder">
      <Button variant="secondary" size="small">Læs mere</Button>
    </a>
  </div>
</div>

<style>
  body.dark .news-card {
    background-color: #4f4f4f;
  }

  body.dark .news-card_content h3,
  body.dark .news-card_content p {
    color: #f6f6f6;
  }

  body.dark .news-card_content #date {
    color: #b3b3b3;
  }
</style>
